<h2 mat-dialog-title> Nueva categoria </h2>
<mat-dialog-content class="dialog-content row">
  <form [formGroup]="nuevaCategoriaForm">
    <mat-form-field class="col-sm-12">
      <input matInput formControlName="nombre" placeholder="Nombre de la categoria">
    </mat-form-field>

  


  </form>


</mat-dialog-content>
<mat-dialog-actions>
  <button mat-raised-button [disabled]="nuevaCategoriaForm.invalid" class="btn-save" (click)="crearCategoria()">Crear</button>
  <button  mat-raised-button class="btn-cancel" (click)="onNoClick()">Cerrar ventana</button>
</mat-dialog-actions>