

<nav class="navbar navbar-expand-lg navbar-transparent bg-primary">
  <div class="container-fluid">
      <div class="navbar-wrapper">
          <div class="navbar-toggle">

          </div>
      </div>
      <button class="navbar-toggler" type="button" (click)="collapse()"
        [attr.aria-expanded]="!isCollapsed" aria-controls="collapseExample">
        <span class="navbar-toggler-bar navbar-kebab"></span>
        <span class="navbar-toggler-bar navbar-kebab"></span>
        <span class="navbar-toggler-bar navbar-kebab"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-end" id="collapseExample" [ngbCollapse]="isCollapsed">
        <ul class="navbar-nav">
              <!--prueba routerLink="/login/provider/profile" -->
          <li class="nav-item"  routerLink="login/client/pruebas">
            <button mat-button>UsuarioPrueba</button>
          </li>
          <li class="nav-item"  routerLink="/register">
            <button mat-button>registro</button>
          </li>
          <li class="nav-item" routerLink="/log">
            <button mat-button style="border: 1px solid; border-radius: 20px;">iniciar sesión</button>
          </li>
          <li class="nav-item" ngbDropdown>
            <a class="nav-link" id="dropdownBasic1" ngbDropdownToggle>
              <p style="font-size: 13px;">
                Español
              </p>
            </a>
            <div class="dropdown-menu dropdown-menu-right" ngbDropdownMenu aria-labelledby="dropdownBasic1">
              <a class="dropdown-item" href="#">Ingles</a>
            </div>
          </li>
        </ul>
      </div>
  </div>
</nav>

