<h2 mat-dialog-title> Nueva subcategoria </h2>
<mat-dialog-content class="dialog-content row">
  <form [formGroup]="nuevaSubcategoriaForm">
    <mat-form-field class="col-sm-12">
      <input matInput formControlName="nombre" placeholder="nombre de la subcategoria">
    </mat-form-field>

  

    <mat-form-field class="col-sm-12">
      <mat-select    formControlName="idCategoria" placeholder="Categoria">
        <mat-option *ngFor="let categoria of categorias" [value]="categoria._id">{{categoria.nombre}}</mat-option>

      </mat-select>

    </mat-form-field>


  </form>


</mat-dialog-content>
<mat-dialog-actions>
  <button mat-raised-button [disabled]="nuevaSubcategoriaForm.invalid" class="btn-save" (click)="crearSubcategoria()">Crear</button>
  <button  mat-raised-button class="btn-cancel" (click)="onNoClick()">Cerrar ventana</button>
</mat-dialog-actions>