<div class="instructions">
  <div class="row mt-5" style="margin:0">
    <div class="col-md-4">
      <div class="text-center">
        <h2 class="font-title">¿Cómo funciona?</h2>
        <span class="font-span">Los mejores proveedores para ti</span>
      </div>
      <!-- Lista -->
      <div>
        <div class="row mt-5">
          <div class="col-2">
            <img class="check-img" src="assets/home/check.png" alt="">
          </div>
          <div class="col-10">
            <span class="font-subtitle">Describe tu requerimiento</span>
            <p class="font-span">los mejores proveedores para ti</p>
          </div>
        </div>

        <div class="row mt-4">
          <div class="col-2">
            <img class="check-img" src="assets/home/check.png" alt="">
          </div>
          <div class="col-10">
            <span class="font-subtitle">Chatea con los proveedores y recibe cotizaciones</span>
            <p class="font-span">los mejores proveedores para ti</p>
          </div>
        </div>


        <div class="row mt-4">
          <div class="col-2">
            <img class="check-img" src="assets/home/check.png" alt="">
          </div>
          <div class="col-10">
            <span class="font-subtitle">Contrata en línea usando cualquiera de nuestras opciones de pago</span>
            <p class="font-span">los mejores proveedores para ti</p>
          </div>
        </div>

        <div class="row mt-4">
          <div class="col-2">
            <img class="check-img" src="assets/home/check.png" alt="">
          </div>
          <div class="col-10">
            <span class="font-subtitle">Disfruta tu evento y califica tu experiencia</span>
            <p class="font-span">los mejores proveedores para ti</p>
          </div>
        </div>

      </div>
    </div>
    <!-- Video -->
    <div class="col-md-8 mt-5 text-center">

      <iframe width="95%" height="483" [src]="urlSaneada" frameborder="0" allowfullscreen></iframe>

    </div>
  </div>
</div>