.instructions{
    height: 100%;
}

.font-title{
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 0;
}

.font-subtitle{
    font-size: 20px;
    font-weight: bold;
}

.font-span{
    font-weight: bold;
    font-size: 14px;
}

.check-img{
    position: absolute;
    right: 0;
    top: 10%;
}