<div class="panel-header panel-header-sm">
    <button class="btn-back" (click)="b()" ><i class="fas fa-arrow-left"></i></button>

  <app-search-client-dashboard style="margin: 5px 10px;" ></app-search-client-dashboard>

</div>

<!-- ------------------------ Card perfil del proveedor -------------------------->

<div class="main-content">
  <!-- --------------- perfil --------------- -->
  <div class="row">

    <div class="col-xs-12 col-sm-5 col-md-4">
      <div class="card card-user">
        <div class="image">
          <img src="../assets/img/bg5.jpg" alt="...">
        </div>
        <div class="card-body">
          <div class="author">

            <img class="avatar border-gray" src="../assets/img/mike.jpg" alt="...">

            <h5 class="title">Nombre de proveedor</h5>


            <p class="empresa ">
              Empresa: Nombre C.A
            </p>

            <form>
              <p class="clasificacion">
                <input id="radio1" type="radio" name="estrellas" value="5">
                <label for="radio1"><i class="fa fa-star"></i></label>

                <input id="radio2" type="radio" name="estrellas" value="4">
                  <label for="radio2"><i class="fa fa-star"></i></label>

                <input id="radio3" type="radio" name="estrellas" value="3">
                  <label for="radio3"><i class="fa fa-star"></i></label>

                <input id="radio4" type="radio" name="estrellas" value="2">
                <label for="radio4"><i class="fa fa-star"></i></label>

                <input id="radio5" type="radio" name="estrellas" value="1">
                <label for="radio5"><i class="fa fa-star"></i></label>
              </p>
            </form>

            <p>
              <a class="float-right btn text-white btn-danger"> <i class="fa fa-heart"></i> Favorite</a>
            </p>

          </div>

        </div>

      </div>
    </div>
  <!-- ---------------  mapa  ----------------->
  <div class="col-xs-12 col-sm-6 col-md-7">
    <div class="card">
      <div class="card-header">
        <h5 class="title">Ubicación</h5>
      </div>
      <div class="card-body">
        <div id="map" class="map"></div>
      </div>
    </div>
  </div>

  </div>

<h3 class="p-trabj">Trabajos realizados</h3>
<!-------------------------- Carousel -------------------------->
  <div class="row"><!--  col-xs-12 col-sm-6 col-md-7 col-lg-7   -->

    <!-- ---------------  carousel  ----------------->
    <div id="demo" class="carousel slide col-xs-12 col-sm-10 col-md-10 col-lg-10 " data-ride="carousel">

      <!-- Indicators -->
      <ul class="carousel-indicators">
        <li data-target="#demo" data-slide-to="0" class="active"></li>
        <li data-target="#demo" data-slide-to="1"></li>
        <li data-target="#demo" data-slide-to="2"></li>
      </ul>

      <!-- The slideshow  class="col-12 col-sm-6 col-md-4 col-lg-3 mt-4"-->
      <div class="carousel-inner">
        <div class="carousel-item active ">
          <img src="assets/img-orig/bg5.jpg" class="" alt="img1">
        </div>

        <div class="carousel-item  ">
          <img src="assets/home/bg.png" class="img-fluid mx-auto d-block" alt="img1">
        </div>
      </div>

      <!-- Left and right controls -->
      <a class="carousel-control-prev" href="#demo" data-slide="prev">
        <span class="carousel-control-prev-icon"></span>
      </a>
      <a class="carousel-control-next" href="#demo" data-slide="next">
        <span class="carousel-control-next-icon"></span>
      </a>

    </div>
  </div>


</div>
