.row{
    justify-content: center;
}


a.navbar-brand {
  display: none;
}

.btn-back{
  background-color: transparent;
  border-color: transparent;
  margin-left: 3%;
    margin-bottom: 35px;
}
.btn-back  .fa-arrow-left {
  background-color: transparent;
  font-size: 37px;
  color: white;
  }

  .fa-star{
    color:#efb810
  }


.panel-header-sm {
    height: auto;
    margin-bottom: 10%;
}
/*card profile*/
.card-user .card-body {
    min-height: min-content;
}
.empresa{ color: gray; }

.fa-star{ color: yellow; }

.bold{  font-weight: bold; }

.fa-star{font-size: x-large;}
.fa-heart{ margin-right: 10px; } /*favorites*/
.btn-danger{ margin-right: 20px; } /*favorites*/
/**/
.card .map {
    height: 350px;
}

/*slider*/
.p-trabj  {
    text-align: center;
    margin: 35px;
}

@media (min-width: 991px) and (max-width: 1520px) {
    .carousel-box{
        width: 70%;
        padding-left: 20%;
        bottom: 5%;
    }
}

@media (min-width: 1521px){
    .carousel-box{
        width: 70% !important;
        padding-left: 20% !important;
    }
}

.carousel-box{
    position: absolute;
    width: 80%;
    padding-left: 10%;
    bottom: 10%;
}

.carousel-item{
    width: 40%;
}
.carousel-item{
    width: 100%;

}
p{
    word-break: break-all;
}
/*****************/

#form {
    width: 250px;
    margin: 0 auto;
    height: 50px;
  }

  #form p {
    text-align: center;
  }

  #form label {
    font-size: 20px;
  }

  input[type="radio"] {
    display: none;
  }

  label {
    color: grey;
  }

  .clasificacion {
    direction: rtl;
    unicode-bidi: bidi-override;
  }

  label:hover,
  label:hover ~ label {
    color: orange;
  }

  input[type="radio"]:checked ~ label {
    color: orange;
  }
