<h2 mat-dialog-title> Nuevo Plan/membresia </h2>
<mat-dialog-content class="dialog-content row">
  <form [formGroup]="editarPaqueteDeCreditoForm">
    <mat-form-field class="col-sm-6">
      <input disabled  matInput placeholder="id" [value]="data._id">
    </mat-form-field>

    <mat-form-field class="col-sm-6">
      <input matInput formControlName="nombre" placeholder="nombre del plan" >
    </mat-form-field>

    <mat-form-field class="col-sm-6">
      <input matInput formControlName="precio" type="number" placeholder="Precio" >
    </mat-form-field>
    
    <mat-form-field class="col-sm-6">
      <input matInput formControlName="cantidad_de_creditos" type="number" placeholder="Cantidad de creditos" [value]="data.cantidad_de_creditos">
    </mat-form-field>

    <mat-form-field class="col-sm-12">
      <mat-select formControlName="metodo_de_pago" placeholder="Metodo de pago" [value]="data.metodo_de_pago">
        <mat-option value="Servipag">Servipag</mat-option>
      </mat-select>
    </mat-form-field>


  </form>


</mat-dialog-content>
<mat-dialog-actions>
  <button mat-raised-button class="btn-save" (click)="editarPaquete()">Guardar</button>
  <button  mat-raised-button class="btn-cancel" (click)="onNoClick()">Descartar cambios</button>
</mat-dialog-actions>