.btn-save{
    background-color: #272727;
    color: white;
    margin: auto !important;
    width: 150px;
}

.btn-cancel{
    background-color: #f14545;
    color: white;
    margin: auto !important;
    width: 150px;
}
