<h2 mat-dialog-title> Nuevo blog </h2>
<mat-dialog-content class="dialog-content row">
  <form [formGroup]="editarBlogForm">
    <mat-form-field class="col-sm-12">
      <input matInput formControlName="titulo" placeholder="Titulo">
      <mat-error *ngIf="editarBlogForm.controls.titulo.hasError('required')">El titulo no puede estar en blanco</mat-error>
    </mat-form-field>

    <mat-form-field class="col-sm-12">
      <mat-select    formControlName="idCategoria" placeholder="Categoria">
        <mat-option *ngFor="let categoria of categorias" [value]="categoria._id">{{categoria.nombre}}</mat-option>

      </mat-select>
      <mat-error *ngIf="editarBlogForm.controls.idCategoria.hasError('required')">Tienes que seleccionar una categoria</mat-error>

    </mat-form-field>

   


  </form>


</mat-dialog-content>
<mat-dialog-actions>
  <button  [disabled]="editarBlogForm.invalid" mat-raised-button class="btn-save" (click)="editarBlog()">Guardar</button>
  <button  mat-raised-button class="btn-cancel" (click)="onNoClick()">Cerrar ventana</button>
</mat-dialog-actions>