<h2 mat-dialog-title>Ver comentario </h2>
<mat-dialog-content class="dialog-content">
  servicio: {{data.servicio}} <br>
  Cliente: {{data.cliente}} <br>
  descripcion: <br> {{data.desc}}
</mat-dialog-content>
<mat-dialog-actions>
  <button style="margin-left: 20px;" mat-raised-button class="btn-cancel" (click)="onNoClick()">Cerrar ventana</button>
</mat-dialog-actions>