<h2 mat-dialog-title>Ver comentario </h2>
<mat-dialog-content class="dialog-content row">

  para: {{data.usuario}} <br>
  comentario: <br> {{data.comentario}}
  <mat-divider></mat-divider>
  <mat-form-field class="col-sm-12">
    <textarea matInput placeholder="respuesta"></textarea>
  </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions>
  <button style="margin-left: 20px;" mat-raised-button class="btn-save" (click)="onNoClick()">enviar respuesta</button>
  <button style="margin-left: 20px;" mat-raised-button class="btn-cancel" (click)="onNoClick()">Cerrar ventana</button>
</mat-dialog-actions>