<h2 mat-dialog-title> Nuevo Plan/membresia </h2>
<mat-dialog-content class="dialog-content row">
  <form [formGroup]="crearPaqueteDeCreditoForm">
    <mat-form-field class="col-sm-12">
      <input matInput formControlName="nombre" placeholder="Nombre del plan">
      <mat-error *ngIf="crearPaqueteDeCreditoForm.controls.nombre.hasError('required')">El nombre no puede estar en blanco</mat-error>
    </mat-form-field>

    <mat-form-field class="col-sm-12">
      <input matInput formControlName="precio" type="number" placeholder="Precio">
      <mat-error *ngIf="crearPaqueteDeCreditoForm.controls.precio.hasError('required')">Ingresa un monto</mat-error>

    </mat-form-field>
    
    <mat-form-field class="col-sm-12">
      <input matInput formControlName="cantidad_de_creditos" type="number" placeholder="Cantidad de creditos">
      <mat-error *ngIf="crearPaqueteDeCreditoForm.controls.cantidad_de_creditos.hasError('required')">Ingresa la cantidad de creditos</mat-error>

    </mat-form-field>

    <mat-form-field class="col-sm-12">
      <mat-select    formControlName="metodo_de_pago" placeholder="Metodo de pago">
        <mat-option value="Servipag">Servipag</mat-option>

      </mat-select>
      <mat-error *ngIf="crearPaqueteDeCreditoForm.controls.metodo_de_pago.hasError('required')">Ingresa el metodo de pago</mat-error>

    </mat-form-field>


  </form>


</mat-dialog-content>
<mat-dialog-actions>
  <button  [disabled]="crearPaqueteDeCreditoForm.invalid" mat-raised-button class="btn-save" (click)="crearPaquete()">Crear</button>
  <button  mat-raised-button class="btn-cancel" (click)="onNoClick()">Cerrar ventana</button>
</mat-dialog-actions>