
/*Client Search */
.containe {
  background-color: white;
  width: 80%;
  border-radius: 10px;
  margin-left: 10%;
  margin-right: 10%;
  padding: 5px;
}

.mat-tab-body-wrapper{
  background-color: white;
}
#mat-tab-label-0-0{
  border-top-left-radius: 20px;
}

#mat-tab-label-0-1{
  border-top-right-radius: 20px;
}

.mat-tab-label{
  background: black;
  color: white;
  opacity: 0.8 !important;
}

.mat-ink-bar{
  background-color: #e75049 !important;
}

.mat-tab-body-wrapper{
  background-color: white;
  border-radius: 0px 20px 20px 20px;
  height: 79px;
}

.mat-tab-label.mat-tab-label-active{
  background: white !important;
  color: black;
}
//katherine
.col{ //.right-tab
  margin:0px 8px;
}
.mat-form-field-flex{
  width: 88%;
}
.mat-raised-button{
  margin-left: 20px;
}
