
<!-- Una vez el cliente de inicio a la búsqueda se desplegará la lista de
   proveedores que ofrezcan el servicio que se solicita (que pertenezcan
   al rubro o categoría del servicio), y el cliente podrá seleccionar
   de manera individualizada los que sean de su interés -->
   <div  class="containe col-xs-12 col-sm-12" >

    <div class="row text-center pt-3" style="margin:0 !important">
      <div class="col-md-3">
        <mat-form-field>
          <mat-select placeholder="¿Que servicio necesitas?">
            <mat-option value="option">Option</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-md-3">
        <mat-form-field>
          <mat-select placeholder="Ubicación">
            <mat-option value="">Option</mat-option>
            <mat-option value="1">Venezuela</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-md-3">
        <mat-form-field>
          <mat-select placeholder="¿Cuándo? ">
            <mat-option value="option">Option</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-md-2">
        <button mat-raised-button style="border: 2px solid #e75049;">
          <img src="/src//src/assets/home/lupa.png" alt="">
          Buscar
        </button>
      </div>
    </div>

  </div>


