.contact{
    padding: 3%;
}

.cont-img{
  width: 48px;
   display: inline-block;
   margin-right: 7px;
}

.cont-img img{
  width: 100%;
}

.font-title{
    font-size: 30px;
    font-weight: bold;
}

.font-subtitle{
    font-size: 24px;
    font-weight: bold;
}

.input-fild{
    width: 100%;
    height: 45px;
    background: #e1e1e1;
    border-radius: 10px;
}

.input-fild-textarea{
    height: 206px !important;
    width: 100%;
    background: #e1e1e1;
    border-radius: 10px;
}

input{
    border:0;
}

textarea.form-control{
    max-height: none;
}
