<div class="contact">
  <h2 class="font-title">Contáctanos</h2>
  <div class="row">
    <div class="col-md-6">
      <form [formGroup]="contactForm" (ngSubmit)="sendContact()">
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <input class="input-fild form-control " formControlName="name" type="text" placeholder="Nombre" >
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <input class="input-fild form-control" formControlName="email" type="mail" placeholder="E-mail">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <textarea class=" form-control input-fild-textarea" formControlName="message" placeholder="Mensaje" name="" id=""></textarea>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <button mat-raised-button color="warn" type="submit">Enviar</button>
          </div>
        </div>
      </form>
    </div>
    <div class="col-md-6">
      <div class="row">
        <div class="col-12">
          <h3 class="font-subtitle">Siguenos</h3>
        </div>
      </div>
      <div class="row">
        <div class="col-6">
            <div class="cont-img" > <img src="assets/home/facebook.png" alt="">   </div>
            <span> Facebook</span>
        </div>
       <div class="col-6">
        <div class="cont-img" >   <img src="assets/home/twitter.png" alt=""> </div>
          <span> Twitter</span>
        </div>
      </div>
      <div class="row mt-5">
        <div class="col-6">
            <div class="cont-img" > <img src="assets/home/linkedin.png" alt=""></div>
          <span> Linkedin</span>
        </div>
        <div class="col-6">
            <div class="cont-img" > <img src="assets/home/instagram2.png" alt=""> </div>
            <span>Instagram</span>
        </div>

      </div>
    </div>
  </div>
</div>
