<div class="panel-header panel-header-sm">
 
</div>


<div class="main-content main-content-h imgbgl">

  <div class="container">
    <div class="container" style="margin-top: 35px;">
      <button mat-raised-button class="btn-save" style="background-color: #272727;" (click)="newBlog()"> Crear blog </button>

    
          
      <mat-form-field>
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Buscador">
      </mat-form-field>
      
      <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource" matSort>
      
          <!-- ID Column -->
          <ng-container matColumnDef="titulo">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Titulo </th>
            <td mat-cell *matCellDef="let blog"> {{blog.titulo}} </td>
          </ng-container>
          <ng-container matColumnDef="categoria">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Categoria </th>
            <td mat-cell *matCellDef="let blog"> {{blog.idCategoria.nombre}} </td>
          </ng-container>

          <ng-container matColumnDef="editar">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Editar </th>
            <td mat-cell *matCellDef="let blog">  <button mat-icon-button style="color: #272727;" (click)="editBlog(blog)">
              <mat-icon>edit</mat-icon>
            </button> 
          </td>
          </ng-container>

         

          <ng-container matColumnDef="eliminar">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Eliminar </th>
            <td mat-cell *matCellDef="let blog"> <button mat-icon-button style="color: #272727;" (click)="eliminarBlog(blog._id)">
              <mat-icon>delete</mat-icon>
            </button>  </td>
          </ng-container>


          <ng-container matColumnDef="estado">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Estado </th>
            <td mat-cell *matCellDef="let blog"> <button mat-icon-button style="color: #272727;" (click)="cambiarEstado(blog)">
              <mat-icon>{{blog.estado? 'done': 'remove'}}</mat-icon>
            </button>  </td>
          </ng-container>

          
      
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let categoria; columns: displayedColumns;">
          </tr>
        </table>
      
        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
      </div>
      
    

  </div>

</div>