
<div class="panel-header panel-header-sm">
  </div>

  <div class="col-md-12" id="contend-cards" style="background: white; padding: 15px;   margin-top: 20px;"  >

    <h3 style=" margin-top: 14px; text-align: center; margin-bottom: 40px;">Seleccione sus proveedores de preferencia</h3>

    <div class="row">

        <!-- Team member -->
        <div class="col-xs-12 col-sm-6 col-md-4">

                        <div class="card">
                            <div class="card-body text-center">
                                <p><img class=" img-fluid" src="https://sunlimetech.com/portfolio/boot4menu/assets/imgs/team/img_01.png" alt="card image"></p>
                                <h4 class="card-title">Sunlimetech</h4>
                               <!-- <p class="card-text">This is basic card with image on top, title, description and button.</p>-->
                               <p class="description" >
                                  Empresa: Empresa A.C
                                </p>

                                <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i>

                            </div>
                        </div>

        </div>
        <!-- ./Team member -->

      </div>



  </div>
<button color="warn" class="btn btn-primary">Guardar</button>
 <!-- -->

