<div class="panel-header panel-header-sm">
 
</div>


<div class="main-content main-content-h imgbgl">

  <div class="container">

    <mat-card class="card-change-password">
      <mat-card-title>Cambiar contraseña</mat-card-title>
      <mat-card-content>

        <form [formGroup]="editPasswordForm" class="row">

          <mat-form-field class="col-sm-12">
            <input matInput placeholder="Contraseña Actual" formControlName="current_password" [type]="hide ? 'password' : 'text'">
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
            <mat-error *ngIf="editPasswordForm.controls.current_password.hasError('required')">La contraseña actual es requerida</mat-error>
            <mat-error *ngIf="editPasswordForm.controls.current_password.hasError('minlength')">La contraseña debe tener minimo 8 caracteres</mat-error>

          </mat-form-field>

          <mat-form-field class="col-sm-12">
            <input matInput placeholder="Contraseña Nueva" formControlName="new_password"  [type]="hide2 ? 'password' : 'text'">
            <button mat-icon-button matSuffix (click)="hide2 = !hide3" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide2">
            <mat-icon>{{hide2 ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
            <mat-error *ngIf="editPasswordForm.controls.new_password.hasError('required')">La contraseña nueva es requerida</mat-error>
            <mat-error *ngIf="editPasswordForm.controls.new_password.hasError('minlength')">La contraseña debe tener minimo 8 caracteres</mat-error>

          </mat-form-field>
          <mat-form-field class="col-sm-12">
            <input matInput placeholder="Repetir contraseña" formControlName="repeat_password" [type]="hide3 ? 'password' : 'text'">
            <button mat-icon-button matSuffix (click)="hide3 = !hide3" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide3">
            <mat-icon>{{hide3 ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
            <mat-error *ngIf="editPasswordForm.controls.new_password.hasError('required')">Es necesario repetir la contraseña</mat-error>
            <mat-error *ngIf="editPasswordForm.controls.new_password.hasError('minlength')">La contraseña debe tener minimo 8 caracteres</mat-error>
            <mat-error *ngIf="editPasswordForm.hasError('repeatInvalid')">Las contraseñas no coinciden</mat-error>

          </mat-form-field>

          <button style="margin-top: 10px;margin-left: 20px;" [disabled]="editPasswordForm.invalid" mat-raised-button class="btn-save" (click)="changePassword()">Guardar cambios</button>
          <button style="margin-top: 10px;margin-left: 10px;" mat-raised-button class="btn-cancel">Descartar cambios</button>
    
        
          
        </form>
      </mat-card-content>
    </mat-card>

  </div>

</div>