.btn-save{
    background-color: #272727;
    color: white;
}

.btn-cancel{
    background-color: #f14545;
    color: white;
}

.card-change-password{
    width: 50%;
    margin: auto;
    padding: 20px 20px;
}