<div class="panel-header panel-header-sm">
 
</div>


<div class="main-content">

  <div class="container">

    <div class="container" style="margin-top: 35px;">
    
    
          
            <mat-form-field>
              <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
            </mat-form-field>
            
            <div class="mat-elevation-z8">
              <table mat-table [dataSource]="dataSource" matSort>
            
                <!-- ID Column -->
                <ng-container matColumnDef="servicio">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Servicio requerido </th>
                  <td mat-cell *matCellDef="let servicio"> {{servicio.servicio}} </td>
                </ng-container>
            
                <!-- Progress Column -->
                <ng-container matColumnDef="cliente">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Cliente </th>
                  <td mat-cell *matCellDef="let servicio"> {{servicio.cliente}} </td>
                </ng-container>

                <ng-container matColumnDef="pregunta">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> pregunta </th>
                  <td mat-cell *matCellDef="let servicio"> {{servicio.pregunta}} </td>
                </ng-container>
            
            
              
 
      
                

                <ng-container matColumnDef="estado">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Estado </th>
                  <td mat-cell *matCellDef="let servicio"> <button mat-icon-button style="color: #272727;" (click)="servicio.estado = !servicio.estado">
                    <mat-icon>{{servicio.estado? 'remove': 'done'}}</mat-icon>
                  </button>  </td>
                </ng-container>

                
            
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let servicio; columns: displayedColumns;">
                </tr>
              </table>
            
              <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
            </div>
            
        
      
    </div>
  
    

  </div>

</div>