<div mat-dialog-title class="title-borrar">{{data.msg}}</div>
<div mat-dialog-action>
  <button mat-raised-button class="btn-save" (click)="Aceptar()">Aceptar</button>
  <button mat-raised-button class="btn-cancel" (click)="Cancelar()">Cancelar</button>
</div>