.btn-save{
    background-color: #272727;
    color: white;
    margin-left: 20px;
    width: 120px;
}

.btn-cancel{
    background-color: #f14545;
    color: white;
    width: 120px;
    margin-left: 20px;
}