<h2 mat-dialog-title> Detalles del usuario {{ data.usuario }} </h2>
<mat-dialog-content class="dialog-content row">
  <form >
    <mat-form-field class="col-sm-12">
      <input matInput [value]="data._id" placeholder="_id" disabled>
    </mat-form-field>
    <mat-form-field class="col-sm-12">
      <input matInput [value]="data.usuario" placeholder="Usuario" disabled>
    </mat-form-field>
    <mat-form-field class="col-sm-12">
      <input matInput [value]="data.nombre" placeholder="Nombre" disabled>
    </mat-form-field>
    <mat-form-field class="col-sm-12">
      <input matInput [value]="data.email" placeholder="Email" disabled>
    </mat-form-field>
    <mat-form-field class="col-sm-12">
      <input matInput [value]="data.telefono" placeholder="Telefono" disabled>
    </mat-form-field>
    <mat-form-field class="col-sm-12">
      <input matInput [value]="data.direccion" placeholder="Direccion" disabled>
    </mat-form-field>

  


  </form>


</mat-dialog-content>
<mat-dialog-actions>
  <button  mat-raised-button class="btn-cancel" (click)="onNoClick()">Cerrar</button>
</mat-dialog-actions>