<div class="panel-header panel-header-sm">
 
</div>


<div class="main-content main-content-h imgbgl">

  <div class="container">
    <div class="container" style="margin-top: 35px;">
      

    
          
      <mat-form-field>
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
      </mat-form-field>
      
      <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource" matSort>
      
          <!-- ID Column -->
          <ng-container matColumnDef="objeto">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Objeto de disputa </th>
            <td mat-cell *matCellDef="let disputa"> {{disputa.objeto}} </td>
          </ng-container>

          <ng-container matColumnDef="nombre_servicio">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre del servicio </th>
            <td mat-cell *matCellDef="let disputa"> {{disputa.nombre_servicio}} </td>
          </ng-container>

          <ng-container matColumnDef="tipo_usuario">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Tipo de usuario </th>
            <td mat-cell *matCellDef="let disputa"> {{disputa.tipo_usuario}} </td>
          </ng-container>

          <ng-container matColumnDef="fecha">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha </th>
            <td mat-cell *matCellDef="let disputa"> {{disputa.fecha}} </td>
          </ng-container>
      
      
      
      
        
        
      
          <!-- Color Column -->
          <ng-container matColumnDef="editar">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> editar </th>
            <td mat-cell *matCellDef="let disputa">  <button mat-icon-button style="color: #272727;" (click)="editDisputa(disputa)">
              <mat-icon>edit</mat-icon>
            </button> 
          </td>
          </ng-container>

          <ng-container matColumnDef="ver">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Ver </th>
            <td mat-cell *matCellDef="let disputa"> <button mat-icon-button style="color: #272727;">
              <mat-icon>remove_red_eye</mat-icon>
            </button>  </td>
          </ng-container>

          <ng-container matColumnDef="estado">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Estado </th>
            <td mat-cell *matCellDef="let disputa"> <button mat-icon-button style="color: #272727;" (click)="disputa.estado = !disputa.estado">
              <mat-icon>{{disputa.estado? 'remove': 'done'}}</mat-icon>
            </button>  </td>
          </ng-container>

          
      
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let disputa; columns: displayedColumns;">
          </tr>
        </table>
      
        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
      </div>
      
    

  </div>

</div>