<div class="panel-header panel-header-sm">
 
</div>


<div class="main-content main-content-h imgbgl">

  <div class="container">


    <div class="container " style="margin-top: 35px;">


      <mat-form-field>
        <mat-select placeholder="Servicio">
          <mat-option value="option">Gastronomia</mat-option>
        </mat-select>
      </mat-form-field>
  

    
          
      <mat-form-field>
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
      </mat-form-field>
      
      <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource" matSort>
      
          <!-- ID Column -->
          <ng-container matColumnDef="nombre">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Usuarios suscritos </th>
            <td mat-cell *matCellDef="let uboletin"> {{uboletin.nombre}} </td>
          </ng-container>
      
        
        
  

          <ng-container matColumnDef="eliminar">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> eliminar </th>
            <td mat-cell *matCellDef="let uboletin"> <button mat-icon-button style="color: #272727;">
              <mat-icon>delete</mat-icon>
            </button>  </td>
          </ng-container>

          <ng-container matColumnDef="estado">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Estado </th>
            <td mat-cell *matCellDef="let uboletin"> <button mat-icon-button style="color: #272727;" (click)="uboletin.estado = !uboletin.estado">
              <mat-icon>{{uboletin.estado? 'remove': 'done'}}</mat-icon>
            </button>  </td>
          </ng-container>

          
      
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let uboletin; columns: displayedColumns;">
          </tr>
        </table>
      
        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
      </div>
      
    

  </div>

</div>