<div class="panel-header panel-header-sm">
 
</div>


<div class="main-content main-content-h imgbgl">

  <div class="container">


    <div class="container " style="margin-top: 35px;">


        <h2>Como Funciona?</h2>

        <p>Titulo:</p>

        <h1>Haztefama Informacion</h1>


        <mat-form-field class="example-full-width">
          <textarea matInput style="height: 400px;" placeholder="Descripcion">

            Describe tu requerimiento
los mejores proveedores para ti


Chatea con los proveedores y recibe cotizaciones
los mejores proveedores para ti


Contrata en línea usando cualquiera de nuestras opciones de pago
los mejores proveedores para ti


Disfruta tu evento y califica tu experiencia
los mejores proveedores para ti



          </textarea>
        </mat-form-field>

        <p> imagen del enunciado informativo</p>

        <img src="../../../../assets/home/bg (1).png" alt="">
     </div>
      
    

  </div>

</div>