
<div class="panel-header panel-header-sm">
    <button class="btn-back"  routerLink="/home-provider" ><i class="fas fa-arrow-left"></i></button>

  <app-search-client-dashboard style="margin: 5px 10px;" ></app-search-client-dashboard>

</div>

 <h3 class="title" >Beneficiarios de los Servicios</h3>

 <div id="contend">
  <div class="cont-cards col-md-3 " *ngFor="let client of clients" >
   <!-- bg-transparent border-0  text-center -->
    <div class="card card-user  ml-5  "  id="{{ client.id_client }}">

      <div class="image">
      <!--  <img src="../assets/img/bg5.jpg" alt="...">     *ngFor="let client of providers  "  -->
      </div>

      <div class="card-body"  >
        <div class="author">
          <img class="avatar border-gray" src="../assets/img/mike.jpg" (click) = "IrProfileClient()"  alt="...">
          <h5 class="title">{{ client.name_client }}</h5>

          <p class="empresa ">
            Edad: 25
          </p>

          <p class="description" >
              Ranking: <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i>
          </p>

        </div>

        <p>
           <a class="float-right btn text-white btn-success"  (click) = "IrProfileClient()" ><i class="fa fa-eye"></i> Ver</a>
        </p>

      </div>

    </div>
  </div>
</div>
