
.panel-header-sm {
  height: auto;
  margin-bottom: 6%;
}

.title{ text-align: center; }


#contend{ /*margin-left: 5%; margin-right: 5%;*/
  position: relative;
  width: 92%;
}


.cont-cards{ display: inline-block; margin-top: 25px; }
/* margin-left: 3%; margin-right: 3%;*/

/* card profile*/
.card-user .card-body {
    min-height: min-content;
}
.avatar{ cursor: pointer; }
.empresa{ color: gray; }

.bold{  font-weight: bold; }
.float-right { display: inline-block;}



.fa-star{font-size: x-large;}
/*
.fa-eye{  width: 30% }
.fa-heart{ margin-right: 4px; width: 70%; }
*/
.fa-eye{ margin-right: 10px; } /*favorites*/
.btn-success{ margin-right: 20px; } /*favorites*/

/****** ranking***********/

#form {
    width: 250px;
    margin: 0 auto;
    height: 50px;
  }

  #form p {
    text-align: center;
  }

  #form label {
    font-size: 20px;
  }

  input[type="radio"] {
    display: none;
  }

  label {
    color: grey;
  }

  .clasificacion {
    direction: rtl;
    unicode-bidi: bidi-override;
  }

  label:hover,
  label:hover ~ label {
    color: orange;
  }

  input[type="radio"]:checked ~ label {
    color: orange;
  }


.btn-back{
  background-color: transparent;
  border-color: transparent;
  margin-left: 3%;
    margin-bottom: 35px;
}
.btn-back  .fa-arrow-left {
  background-color: transparent;
  font-size: 37px;
  color: white;
  }

  .fa-star{
    color:#efb810
}

