<div class="card card-user">
  <div class="image">
    <img src="../assets/img/bg5.jpg" alt="...">
  </div>
  <div class="card-body">
    <div class="author">
      <div class="container">
        <img class="avatar border-gray" src="../assets/img/mike.jpg" alt="...">
        <div class="overlay">
          <div class="text">
            <a  style="text-decoration:none;color: white;">
              Enviar cotización
            </a>
          </div>
        </div>
      </div>
      <h5 class="title">Nombre de usuario</h5>
      <div class="row mt-3">
        <div class="col-md-6">
          <p class="description">
            Ubicación:
          </p>
          <p>
            Aqui
          </p>
        </div>
        <div class="col-md-6">
          <p class="description">
            Fecha:
          </p>
          <p>
            12/10/2015
          </p>
        </div>

        <div class="col-md-6">
          <p class="description">
            Nombre del servicio:
          </p>
          <p>
            Nombre de prueba
          </p>
        </div>
        <div class="col-md-6">
          <p class="description">
            Descripción del requerimiento:
          </p>
          <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Unde eveniet rem repellendus excepturi ipsum beatae.
          </p>
        </div>

        <div class="col-md-6">
          <p class="description">
            Presupuesto de referencia:
          </p>
          <p>
            5,000
          </p>
        </div>
        <div class="col-md-6">
          <p class="description">
            Fecha solicitada:
          </p>
          <p>
            12/10/2019
          </p>
        </div>

        <div class="col-md-6">
          <p class="description">
            Categoría:
          </p>
          <p>
            Chef, sommeliers
          </p>
        </div>

      </div>
      
    </div>
  </div>
</div>