
<div class="panel-header panel-header-sm">
</div>
<div class="container-fluid main-content ">
  <div class="row">
    <div class="col-md-8">
      <div class="card">
        <div class="card-header">
          <h5 class="title">Mis requerimientos</h5>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

              <!--- Note that these columns can be defined in any order.
                    The actual rendered columns are set as a property on the row definition" -->

              <!-- Position Column -->
              <ng-container matColumnDef="position">
                <th mat-header-cell *matHeaderCellDef> No. </th>
                <td mat-cell *matCellDef="let element"> {{element.position}} </td>
              </ng-container>

              <!-- Name Column -->

              <ng-container matColumnDef="requirements">
                <th mat-header-cell *matHeaderCellDef>Requerimientos</th>
                <td mat-cell *matCellDef="let element"> {{element.name}} </td>
              </ng-container>

              <ng-container matColumnDef="providers">
                <th mat-header-cell *matHeaderCellDef>Proveedores</th>
                <td mat-cell *matCellDef="let element"> {{element.name}} </td>
              </ng-container>



              <ng-container matColumnDef="options">
                <th mat-header-cell *matHeaderCellDef> Opciones</th>
                <td mat-cell *matCellDef="let element">

                 <!-- <button mat-mini-fab color="warn" matTooltip="Eliminar" (click)="changeStatus(element.id, 'delete')" [ngStyle]="{'margin-right': '5px', 'color':'white'}">
                    <i class="fa fa-trash"></i>
                </button> -->

                <button mat-mini-fab color="warn" matTooltip="Agregar" (click)="changeStatus(element.id, 'delete')" [ngStyle]="{'margin-right': '5px', 'color':'white'}">
                  <i class="fa fa-plus"></i>
              </button>

                </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>

