<div class="panel-header panel-header-sm">
 
</div>


<div class="main-content">

  <div class="container">
    <div class="container" style="margin-top: 35px;">



      <form class="row">
        <h2 style="text-align: center;margin-top: 10PX;">Plantilla de Correo electronico</h2>
        <div class="col-sm-12"></div>
        <mat-form-field  class="col-sm-12" *ngIf="!textareaHide">
          <textarea  [(ngModel)]="htmlM" name="textarea" style="height: 500px;"  matInput placeholder="">
                               
          
          
          </textarea>

          <input type="text" style="display: none;">

          
        </mat-form-field>
        <div *ngIf="textareaHide" [innerHTML]="html">{{html}}</div>

        <div class="col-sm-12"></div>


        <button style="margin-top: 10px;" mat-raised-button *ngIf="textareaHide" (click)="edit()" class="btn-save">Editar</button>

        <button style="margin-top: 10px;" mat-raised-button *ngIf="!textareaHide" (click)="save()"  class="btn-save">Guardar cambios</button>
        <button style="margin-top: 10px;margin-left: 10px;" *ngIf="!textareaHide"  (click)="cancel()" mat-raised-button class="btn-cancel">Descartar cambios</button>
  
      </form>
    </div>
  
    

  </div>

</div>