<section class="form_wrap  col-lg-12 " style="height: 100%;">
<!--   <section class="cantact_info  col-lg-5 d-none d-sm-none d-md-block "> -->
  <section class="flex-child cantact_info  col-sm-4 col-lg-5">

      <div class="info_logo" >
          <!--   <span class="fa fa-user-circle"></span>  -->
            <img  src= "../../../../assets/img/registro/logo.png"  >
           <!--   <img  [src] = "logo"  > -->
      </div>

    <section class="info_title">
           <h3>Soy cliente</h3>
     </section>

     <section class="info_items">
        <p>Busco proveedores para mi evento</p>
    </section>

  </section>

  <!-- tab de dos -->

  <!--  <div class="col-lg-7"> -->
<section class="divFormRegistro  col-lg-7">

  <div  class="title" >
      <h4>Crear cuenta</h4>
      <p class="subtitle" >Tipo de cuenta</p>
  </div>


   <!--   tab nav ---------- -->
    <nav>
      <div class="nav nav-tabs nav-fill col-md" id="nav-tab" role="tablist">
        <a class="col-lg-4 nav-item nav-link active" id="nav-provider-tab" data-toggle="tab" href="#nav-provider" role="tab" aria-controls="nav-provider" aria-selected="true">Proveedor</a>
        <a class="col-lg-4  nav-item nav-link" id="nav-client-tab" data-toggle="tab" href="#nav-client" role="tab" aria-controls="nav-client" aria-selected="false">Cliente</a>
      </div>
    </nav>

    <!--   tab content---------- -->
    <div class="tab-content py-3 px-3 px-sm-0" id="nav-tabContent">
       <!-- 1 -->
      <div class="tab-pane fade show active" id="nav-provider" role="tabpanel" aria-labelledby="nav-provider-tab">

        <!-- Proveedor: Et et consectetur ipsum labore excepteur est proident excepteur ad velit occaecat qui minim occaecat veniam.
        Fugiat veniam incididunt anim aliqua enim pariatur veniam sunt est aute sit dolor anim. Velit non irure adipisicing -->

        <div class="btn-group" id="btn-group-social" btn-group-justified >

            <button type="button" class="btn btn-facebook">
              <i class="fa fa-facebook fa-lg fa-fw"  ></i>
            </button>

            <button type="button" class="btn btn-google-plus">
               <i class="fa fa-google-plus"></i>
            </button>

            <button type="button" class="btn btn-linkedin">
              <!--  <a class="" href="#"><i  class="fa fa-linkedin" ></i></a> -->
               <i  class="fa fa-linkedin" ></i>
            </button>

         </div>

        <form   [formGroup]="FormRegister"  (ngSubmit)="register('provider')" class="form_contact" >
            <span styele="text-align: center" >Ingresa con estas opciones...</span>
             <div class="user_info">
                <mat-form-field appearance="outline">
                  <mat-label>Nombre</mat-label>
                  <input matInput placeholder="Escriba su nombre" formControlName="name" required>
                  <mat-error>El nombre es requerido</mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline">
                  <mat-label>Email</mat-label>
                  <input matInput placeholder="Escriba su email" formControlName="email" required>
                  <mat-error>Email inválido, por favor verifique</mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline">
                  <mat-label>Contraseña</mat-label>
                  <input matInput type="password" placeholder="Escriba su contraseña" formControlName="password" required>
                 <!-- <mat-error>La contraseña es requerida</mat-error> -->
                  <mat-error>La contraseña debe ser mayor a 8 carácteres</mat-error>
                </mat-form-field>

                <!-- <mat-form-field appearance="outline">
                  <mat-label>Repite la contraseña</mat-label>
                  <input matInput  type="password" placeholder='Repita la contraseña' formControlName="repeat_password" required>
                </mat-form-field> -->

                <mat-form-field appearance="outline">
                  <mat-label>Teléfono</mat-label>
                  <input matInput placeholder="Escriba su Teléfono" type="number" formControlName="phone" required>
                  <mat-error>El número de teléfono es requerido</mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline">
                  <mat-label>Dirección</mat-label>
                  <input matInput placeholder="Escriba su Dirección" formControlName="address" required>
                  <mat-error>La dirección es requerida</mat-error>
                </mat-form-field>

              
                <div class="buttons">
                  <button id="btnRegister" [disabled]="!FormRegister.valid" class="btn btn-danger btn-responsive btninter right centrado" >Registrar</button>
                </div>
                </div>
          </form>

      </div>

     <div class="tab-pane fade show" id="nav-client" role="tabpanel" aria-labelledby="nav-client-tab">
        <div class="tab-pane fade show active" id="nav-provider" role="tabpanel" aria-labelledby="nav-provider-tab">
            <div class="btn-group" id="btn-group-social" btn-group-justified >
                <button type="button" class="btn btn-facebook">
                  <i class="fa fa-facebook fa-lg fa-fw"  ></i>
                </button>
                <button type="button" class="btn btn-google-plus">
                   <i class="fa fa-google-plus"></i>
                </button>
                <button type="button" class="btn btn-linkedin">
                   <i  class="fa fa-linkedin" ></i>
                </button>
             </div>

             <form   [formGroup]="FormRegister"  (ngSubmit)="register('client')" class="form_contact" >
              <span styele="text-align: center" >Ingresa con estas opciones...</span>
              <div class="user_info">
                <mat-form-field appearance="outline">
                  <mat-label>Nombre</mat-label>
                  <input matInput placeholder="Escriba su nombre" formControlName="name" required>
                  <mat-error>El nombre es requerido</mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline">
                  <mat-label>Email</mat-label>
                  <input matInput placeholder="Escriba su email" formControlName="email" required>
                  <mat-error>Email inválido, por favor verifique</mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline">
                  <mat-label>Contraseña</mat-label>
                  <input matInput type="password" placeholder="Escriba su contraseña" formControlName="password" required>
                  <mat-error>La contraseña debe ser mayor a 8 carácteres</mat-error>
                </mat-form-field>

                <!-- <mat-form-field appearance="outline">
                  <mat-label>Repite la contraseña</mat-label>
                  <input matInput  type="password" placeholder='Repita la contraseña' formControlName="repeat_password" required>
                </mat-form-field> -->

                <mat-form-field appearance="outline">
                  <mat-label>Teléfono</mat-label>
                  <input matInput placeholder="Escriba su Teléfono" type="number" formControlName="phone" required>
                  <mat-error>El número de teléfono es requerido</mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline">
                  <mat-label>Dirección</mat-label>
                  <input matInput placeholder="Escriba su Dirección" formControlName="address" required>
                  <mat-error>La dirección es requerida</mat-error>
                </mat-form-field>
                <div class="buttons">
                  <button id="btnRegister" [disabled]="!FormRegister.valid" class="btn btn-danger btn-responsive btninter right centrado" >Registrar</button>
                </div>
              </div>
            </form>
          </div>
        </div>
     </div>
</section>
  <script src='https://www.google.com/recaptcha/api.js'></script>



</section>
