<div class="panel-header panel-header-sm">
 
</div>


<div class="main-content">

  <div class="container">

    <div class="container" style="margin-top: 35px;">
        <button mat-raised-button class="btn-save" (click)="newPlan()"> Crear planes y/o membresías </button>
    
          
            <mat-form-field>
              <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Buscador">
            </mat-form-field>
            
            <div class="mat-elevation-z8">
              <table mat-table [dataSource]="dataSource" matSort>
            
                <!-- ID Column -->
                <ng-container matColumnDef="nombre">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </th>
                  <td mat-cell *matCellDef="let plan"> {{plan.nombre}} </td>
                </ng-container>
            
                <!-- Progress Column -->
                <ng-container matColumnDef="precio">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Precio </th>
                  <td mat-cell *matCellDef="let plan"> {{plan.precio}}$ </td>
                </ng-container>
            
                 <!-- Progress Column -->
                 <ng-container matColumnDef="creditos">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Cantidad de creditos </th>
                  <td mat-cell *matCellDef="let plan"> {{plan.cantidad_de_creditos}} </td>
                </ng-container>
            
              
                <!-- Progress Column -->
                <ng-container matColumnDef="paymentMethod">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Metodo de pago </th>
                  <td mat-cell *matCellDef="let plan"> {{plan.metodo_de_pago}} </td>
                </ng-container>
            
            
                <!-- Color Column -->
                <ng-container matColumnDef="editar">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Editar </th>
                  <td mat-cell *matCellDef="let plan"> 
                     <button mat-icon-button style="color: #272727;" (click)="editPlan(plan)">
                    <mat-icon>edit</mat-icon>
                  </button> 
                </td>
                </ng-container>
      
                <ng-container matColumnDef="eliminar">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Eliminar </th>
                  <td mat-cell *matCellDef="let plan"> 
                    <button mat-icon-button style="color: #272727;" (click)="eliminarPlan(plan._id)">
                    <mat-icon>delete</mat-icon>
                  </button>  
                </td>
                </ng-container>

                <ng-container matColumnDef="estado">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Estado </th>
                  <td mat-cell *matCellDef="let plan"> <button mat-icon-button style="color: #272727;" (click)="cambiarEstado(plan)">
                    <mat-icon>{{plan.estado? 'done': 'remove'}}</mat-icon>
                  </button>  </td>
                </ng-container>

                
            
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let comentario; columns: displayedColumns;">
                </tr>
              </table>
            
              <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
            </div>
            
        
      
    </div>
  
    

  </div>

</div>