<div class="panel-header panel-header-sm">

</div>


<div class="main-content">

  <div class="container">

    <div class="container" style="margin-top: 35px;">
      <h2>Imagen de banner</h2>



      <form class="row">
        <div class="col-sm-12">
          <img src="http://64.227.31.7:3000/imagen-banner" alt="">
        </div>

        <div class="col-sm-6" style="margin-top: 10px;">


          <input (change)="onFileChange($event)" name="image" type="file" id="logo" class="input-file" accept="image/*" >
          <label for="logo" style="margin-left: 15px;" >Cambiar imagen</label>

        </div>

        <div class="col-sm-12"></div>



        <button style="margin-top: 10px;" mat-raised-button [disabled]="!image" class="btn-save" (click)="changeImage()"> Guardar cambios</button>
        <button style="margin-top: 10px;margin-left: 10px;" mat-raised-button class="btn-cancel">Descartar cambios</button>

      </form>


    </div>



  </div>

</div>
