.footer{
    background: #111111;
    height: 196px;
    color:white
}

.padding-box{
    padding: 5% 20% 0px 20%;
}

.link-footer{
    color: white !important;
}

.separator{
    border-right: 0.5px solid white;
    height: 100%;
}

@media only screen and (max-width: 600px) {
    .padding-box{
        padding: 5% 3%;
    }    
}