<div class="footer mt-3 padding-box" style="height: 100%;">
  <div class="row text-center" style="margin-bottom: 5%;">
    <div class="col-3 separator">
      <a href="" class="link-footer">Hazte fama</a>
    </div>
    <div class="col-3 separator">
      <a href="" class="link-footer">Cómo funciona</a>
    </div>
    <div class="col-3 separator">
      <a href="" class="link-footer">Términos y condiciones</a>
    </div>
    <div class="col-3">
      <a href="" class="link-footer">Blog</a>
    </div>
  </div>
  <hr style="background:white; margin-top:10px">
  <div class="text-center">
    <p>Copyright 2019 Haztefama Chile - Todos los derechos reservados</p>
  </div>
</div>