.row{
    justify-content: center;
    align-items: center;
}

a.navbar-brand {
  display: none;
}

.btn-back{
  background-color: transparent;
  border-color: transparent;
  margin-left: 3%;
    margin-bottom: 35px;
}
.btn-back  .fa-arrow-left {
  background-color: transparent;
  font-size: 37px;
  color: white;
  }

  .fa-star{
    color:#efb810
  }
