<div class="panel-header panel-header-sm">

    <button class="btn-back" (click)="b()"><i class="fas fa-arrow-left"></i></button>

</div>

<!--  <button mat-raised-button (click)="CrearSucursalApi()"  class="btnRegEncargado btn btn-danger pull-left"
 [disabled] = "" >Registrar encargado</button>
 -->

<div class="main-content">
  <div class="row">
    <div class="col-md-4">
      <div class="card card-user">
        <div class="image">
          <img src="../../../../../assets/img/bg5.jpg" alt="..."> <!-- ../assets/img/bg5.jpg-->
        </div>
        <div class="card-body">
          <div class="author">
            <img class="avatar border-gray" src="../assets/img/mike.jpg" alt="...">  <!-- ../assets/img/mike.jpg -->
            <h5 class="title">Nombre del cliente</h5>
            <p class="description" >
              Ranking: <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i>
            </p>
            <p class="description" >
              Cotizaciones: 5
            </p>
            <p class="description" >
              Cotizaciones completas: 5
            </p>


            <p class="description" >
              Contrato: Cerrado
            </p>

          </div>
        </div>
      </div>
    </div>

    <div class="col-md-7">
      <div class="card">
        <div class="card-header">
          <h5 class="title">Ubicación</h5>
        </div>
        <div class="card-body">
          <div id="map" class="map"></div>
        </div>
      </div>
    </div>

  </div>


</div>


