<div class="panel-header panel-header-sm">
</div>

<div class="main-content">
  <div class="container">
    <div class="container" style="margin-top: 35px;">
            <mat-form-field>
              <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
            </mat-form-field>
            
            <div class="mat-elevation-z8">
              <table mat-table [dataSource]="dataSource" matSort>
            
                <ng-container matColumnDef="usuario">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Usuario </th>
                  <td mat-cell *matCellDef="let usuario"> {{usuario.usuario}} </td>
                </ng-container>
                
                <ng-container matColumnDef="tipo">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Tipo </th>
                  <td mat-cell *matCellDef="let usuario"> {{usuario.role}} </td>
                </ng-container>
            
                <ng-container matColumnDef="ver">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Detalles </th>
                  <td mat-cell *matCellDef="let usuario">  <button mat-icon-button style="color: #272727;" (click)="editUser(usuario)">
                    <mat-icon>remove_red_eye</mat-icon>
                  </button> 
                </td>
                </ng-container>
      
                <ng-container matColumnDef="eliminar">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Eliminar </th>
                  <td mat-cell *matCellDef="let usuario"> <button mat-icon-button style="color: #272727;" (click)="deleteUser(usuario._id)">
                    <mat-icon>delete</mat-icon>
                  </button>  </td>
                </ng-container>

                <!-- TODO HACER LOGICA DE BLOQUEAR USUARIOS -->

                <ng-container matColumnDef="estado">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Estado </th>
                  <td mat-cell *matCellDef="let usuario"> <button mat-icon-button style="color: #272727;" 
                    (click)="usuario.estado = !usuario.estado">
                    <mat-icon>{{usuario.estado? 'remove': 'done'}}</mat-icon>
                  </button>  </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let comentario; columns: displayedColumns;">
                </tr>
              </table>
            
              <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
            </div>
    </div>
  </div>
</div>