.fa-star{
    color:#efb810
}

@media (min-width: 1521px){
    .carousel-box{
        width: 70% !important;
        padding-left: 20% !important;
    }
}

.carousel-box{
    position: absolute;
    width: 80%;
    padding-left: 10%;
    bottom: 10%;
}

p{
    word-break: break-all;
}