<div class="panel-header panel-header-sm">
</div>
<div class="main-content">
  <div class="row">
    <div class="col-md-4">
      <div class="card card-user">
        <div class="image">
          <img src="../assets/img/bg5.jpg" alt="...">
        </div>
        <div class="card-body">
          <div class="author">
            <img class="avatar border-gray" src="../assets/img/mike.jpg" alt="...">
            <h5 class="title">Nombre de proveedor</h5>
            <p class="description" >
              Ranking: <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i>
            </p>
            <p class="description" >
              Cotizaciones: 5
            </p>
            <p class="description" >
              Cotizaciones completas: 5
            </p>
            <p>
              <b>Correo:</b>
            </p>
            <p class="description">
              test@test.com
            </p>
            <p>
              <b>Teléfono:</b>
            </p>
            <p class="description">
              00000000000
            </p>
          </div>
        </div>
      </div>
    </div>

    
    
    <div class="col-md-8">
      <div class="card">
        <div class="card-header">
          <h5 class="title">Editar datos</h5>
        </div>
        <div class="card-body">
          <form>
            <div class="row">
              <div class="col-md-6 pr-1">
                <div class="form-group">
                  <label>Nombres</label>
                  <input type="text" class="form-control">
                </div>
              </div>
              <div class="col-md-6 px-1">
                <div class="form-group">
                  <label>Apellidos</label>
                  <input type="text" class="form-control">
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-6 pr-1">
                <div class="form-group">
                  <label for="email">Email</label>
                  <input name="email" id="email" type="email" class="form-control">
                </div>
              </div>
              <div class="col-md-6 px-1">
                <div class="form-group">
                  <label>Teléfono</label>
                  <input type="text" class="form-control">
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label>Dirección</label>
                  <input type="text" class="form-control" placeholder="Home Address" value="Bld Mihail Kogalniceanu, nr. 8 Bl 1, Sc 1, Ap 09">
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-4 pr-1">
                <div class="form-group">
                  <label>Ciudad</label>
                  <input type="text" class="form-control" placeholder="City" value="Mike">
                </div>
              </div>
              <div class="col-md-4 px-1">
                <div class="form-group">
                  <label>Estado</label>
                  <input type="text" class="form-control" placeholder="Country" value="Andrew">
                </div>
              </div>
              <div class="col-md-4 pl-1">
                <div class="form-group">
                  <label>Código postal</label>
                  <input type="number" class="form-control" placeholder="ZIP Code">
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-12">
                <button mat-raised-button color="warn" class="pull-right">Guardar</button>
              </div>
            </div>

          </form>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
      <div class="card">
        <div class="card-header">
          <h5 class="title">Ubicación</h5>
        </div>
        <div class="card-body">
          <div id="map" class="map"></div>
        </div>
      </div>
    </div>
    <div class="card col-md-4">
      <div class="card-header">
        <h5 class="title">Categorias/Subcategorias</h5>
      </div>
      <div class="card-body">
        <div class="author">
         
         
          <div class="row">
           
          </div>
          <h5>Categorías</h5>
          <div class="row">
            <div class="col-md-8">
              <mat-form-field style="width: 100%;">
                <mat-label>Toppings</mat-label>
                <mat-select [formControl]="toppings" multiple>
                  <mat-option *ngFor="let categoria of categorias" [value]="categoria._id">{{categoria.nombre}}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col-md-4">
              <button mat-raised-button color="warn"class="pull-right">Guardar</button>
            </div>
          </div>
          <h5>Subcategorías</h5>
          <div class="row">
            <div class="col-md-8">
              <mat-form-field style="width: 100%;">
                <mat-label>Toppings</mat-label>
                <mat-select [formControl]="toppings" multiple>
                  <mat-option *ngFor="let subcategoria of Subcategorias" [value]="subcategoria._id">{{subcategoria.nombre}}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col-md-4">
              <button mat-raised-button color="warn"class="pull-right">Guardar</button>
            </div>
          </div>
        </div>
      </div>
      </div>
    <div class="col-md-8">
      <div class="card">
        <div class="card-header">
          <h5 class="title">Cuentanos de tu empresa</h5>
        </div>
        <div class="card-body">
          <form>
            <div class="row">
              <div class="col-md-4 pr-1">
                <div class="form-group">
                  <label>Nombre de la empresa</label>
                  <input type="text" class="form-control">
                </div>
              </div>
              <div class="col-md-8 px-1">
                <div class="form-group">
                  <label>Cuentanos de tu empresa</label>
                  <input type="text" class="form-control">
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-6 pr-1">
                <div class="form-group">
                  <label for="email">Categorias</label>
                  <input name="email" id="email" type="email" class="form-control">
                </div>
              </div>
              <div class="col-md-6 px-1">
                <div class="form-group">
                  <label>Subcategorias</label>
                  <input type="text" class="form-control">
                </div>
              </div>
            </div>


            <div class="row">
              <div class="col-md-6 pr-1">
                <div class="form-group">
                  <label for="email">¿Qué tan lejos puedes ir para entregar un servicio?</label>
                  <input name="email" type="num" class="form-control">
                </div>
              </div>
              <div class="col-md-6 px-1">
                <div class="form-group">
                  <label>¿Cuando empezaste en este rubro?</label>
                  <input type="text" class="form-control">
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label>Sube imagenes</label>
                  <textarea rows="4" cols="80" class="form-control" placeholder="Carga tus imagenes"></textarea>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-12">
                <button mat-raised-button color="warn" class="pull-right">Guardar</button>
              </div>
            </div>

          </form>
        </div>
      </div>
    </div>
  </div>

</div>
