.metrics-card{
    height: 130px;
    padding: 20px;
    text-align: center;
    background-color: #272727;
    color: white;
}

.div-cards{
    padding: 12px;
}
.main-content{
    min-height: 100% !important ;
}

.cards-content{
    margin-top: 30px;
}

.imgbgl{
    background: url('../../../../assets/dashboard-admin/metrics-bg.jpg') no-repeat center center fixed; 
    -webkit-background-size: cover;
     -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
    height: 100%;
    
}

.activity-metric{
    background-color: #272727;
    color: white;
    text-align: center;

}