<div class="panel-header panel-header-sm">
 
</div>


<div class="main-content">

  <div class="container">

    <div class="row cards-content">

      <div class="col-sm-3 div-cards">

        <mat-card class="metrics-card" s>
          <h5>Usuarios</h5>
          <mat-card-content>
            <h3>
              50.000
            </h3>
          </mat-card-content>
        </mat-card>
        
      </div>

      <div class="col-sm-3 div-cards">

        <mat-card class=" metrics-card">
          <h5>Clientes</h5>
          <mat-card-content>
            <h3>
              40.000
            </h3>
          </mat-card-content>
        </mat-card>
       
        
      </div>

      <div class="col-sm-3 div-cards">

        <mat-card class=" metrics-card">
          <h5>Proovedores</h5>
          <mat-card-content>
            <h3>
              10.000
            </h3>
          </mat-card-content>
        </mat-card>
       
        
      </div>

      <div class="col-sm-3 div-cards">

        <mat-card class="metrics-card" s>
          <h5>Categorías</h5>
          <mat-card-content>
            <h3>
              200
            </h3>
          </mat-card-content>
        </mat-card>
        
      </div>

      <div class="col-sm-3  div-cards">

        <mat-card class=" metrics-card">
          <h5>Tasas de éxito</h5>
          <mat-card-content>
            <h3>
              50
            </h3>
          </mat-card-content>
        </mat-card>
       
        
      </div>

      <div class="col-sm-3  div-cards">

        <mat-card class=" metrics-card">
          <h5>Servicios requeridos</h5>
          <mat-card-content>
            <h3>
              300
            </h3>
          </mat-card-content>
        </mat-card>

        
      </div>
      <div class="col-sm-3  div-cards">

        <mat-card class=" metrics-card">
          <h5>Constantes</h5>
          <mat-card-content>
            <h3>
              689
            </h3>
          </mat-card-content>
        </mat-card>
</div>

      <div class="col-sm-3  div-cards">

        <mat-card class=" metrics-card">
          <h5>Pagos de crédito</h5>
          <mat-card-content>
            <h3>
              10.530
            </h3>
          </mat-card-content>
        </mat-card>
</div>

  <div class="container">
        <div class="row">
            
            <div class="col-sm-12 activity-metric">
              <span>actividad de los usuarios</span>
              <canvas baseChart
              [datasets]="lineChartData" 
              [labels]="lineChartLabels" 
              [options]="lineChartOptions"
              [colors]="lineChartColors" 
              [legend]="lineChartLegend" 
              [chartType]="lineChartType" 
              ></canvas>
            </div>
        </div>
       
      </div>

    

    </div>

  </div>

</div>