<h2 mat-dialog-title> Nuevo Plan/membresia </h2>
<mat-dialog-content class="dialog-content row">
  <form >
    <mat-form-field class="col-sm-12">
      <input matInput [value]="data.objeto" placeholder="Objeto de disputa">
    </mat-form-field>

    <mat-form-field class="col-sm-12">
      <input matInput [value]="data.nombre_servicio" placeholder="Nombre del servicio">
    </mat-form-field>

    <mat-form-field class="col-sm-12">
      <input matInput [value]="data.tipo_usuario" placeholder="Tipo de usuario">
    </mat-form-field>

    <mat-form-field class="col-sm-12">
      <input matInput [matDatepicker]="picker"  placeholder="Choose a date">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    


  </form>


</mat-dialog-content>
<mat-dialog-actions>
  <button mat-raised-button class="btn-save" (click)="onNoClick()">Guardar</button>
  <button  mat-raised-button class="btn-cancel" (click)="onNoClick()">Descartar cambios</button>
</mat-dialog-actions>