<div class="panel-header panel-header-sm">
</div>
<div class="main-content">
  <div class="row">
    <div class="col-md-4">
      <div class="card">
        <div class="card-header">
          <h5 class="title">Adquirir puntos/Categorías</h5>
        </div>
        <div class="card-body">
          <div class="author">
            <h5>Puntos</h5>
            <p class="description" >
              Cantidad de puntos: 5
            </p>
            <h5>Adquirir puntos</h5>
            <div class="row">
              <div class="col-md-8">
                <mat-form-field style="width: 100%;">
                  <input matInput placeholder="Cantidad de puntos">
                </mat-form-field>
              </div>
              <div class="col-md-4">
                <button mat-raised-button color="warn"class="pull-right">Adquirir</button>
              </div>
            </div>
            <!-- <h5>Categorías</h5>
            <div class="row">
              <div class="col-md-8">
                <mat-form-field style="width: 100%;">
                  <mat-label>Toppings</mat-label>
                  <mat-select [formControl]="toppings" multiple>
                    <mat-option *ngFor="let topping of toppingList" [value]="topping">{{topping}}</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="col-md-4">
                <button mat-raised-button color="warn"class="pull-right">Guardar</button>
              </div>
            </div>
            <h5>Subcategorías</h5>
            <div class="row">
              <div class="col-md-8">
                <mat-form-field style="width: 100%;">
                  <mat-label>Toppings</mat-label>
                  <mat-select [formControl]="toppings" multiple>
                    <mat-option *ngFor="let topping of toppingList" [value]="topping">{{topping}}</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="col-md-4">
                <button mat-raised-button color="warn"class="pull-right">Guardar</button>
              </div>
            </div> -->
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-8">
      <div class="card">
        <div class="card-header">
          <h5 class="title">Membresias</h5>
        </div>
        <div class="card-body row">
          <div class="col-sm-12 col-md-4 mt-4">
            <div class="carousel-box">
              <h4 style="color:white">Membresia bronce</h4>
              <button mat-raised-button color="warn"class="pull-right">Seleccionar</button>
            </div>
            <img src="assets/provider/animador presentador.png" class="img-fluid mx-auto d-block" alt="img1">
          </div>
      
          <div class="col-sm-12 col-md-4 mt-4">
            <div class="carousel-box">
              <h4 style="color:white">Membresia plata</h4>
              <button mat-raised-button color="warn"class="pull-right">Seleccionar</button>
            </div>
            <img src="assets/provider/Events planner.png" class="img-fluid mx-auto d-block" alt="img1">
          </div>
      
          <div class="col-sm-12 col-md-4 mt-4">
            <div class="carousel-box">
              <h4 style="color:white">Membresia oro</h4>
              <button mat-raised-button color="warn"class="pull-right">Seleccionar</button>
            </div>
            <img src="assets/provider/Bartender - barman.png" class="img-fluid mx-auto d-block" alt="img1">
          </div>
    
        </div>
      </div>
    </div>
  </div>

</div>
