<h2 mat-dialog-title> Editar categoria </h2>
<mat-dialog-content class="dialog-content row">
  <form [formGroup]="editarCategoriaForm">
    <mat-form-field class="col-sm-12">
      <input matInput formControlName="nombre" placeholder="nombre de la categoria">
    </mat-form-field>

  


  </form>


</mat-dialog-content>
<mat-dialog-actions>
  <button mat-raised-button [disabled]="editarCategoriaForm.invalid" class="btn-save" (click)="editarCategoria()">Guardar</button>
  <button  mat-raised-button class="btn-cancel" (click)="onNoClick()">Descartar cambios</button>
</mat-dialog-actions>