<div class="panel-header panel-header-sm">
 
</div>


<div class="main-content main-content-h imgbgl">

  <div class="container">
    <div class="container" style="margin-top: 35px;">

    
          
      <mat-form-field>
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
      </mat-form-field>
      
      <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource" matSort>
      
          <!-- ID Column -->
          <ng-container matColumnDef="fecha">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha </th>
            <td mat-cell *matCellDef="let comentarioBlog"> {{comentarioBlog.fecha}} </td>
          </ng-container>
          <ng-container matColumnDef="blog">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Blog </th>
            <td mat-cell *matCellDef="let comentarioBlog"> {{comentarioBlog.blog}} </td>
          </ng-container>

          <ng-container matColumnDef="usuario">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> usuario </th>
            <td mat-cell *matCellDef="let comentarioBlog"> {{comentarioBlog.usuario}} </td>
          </ng-container>

          <ng-container matColumnDef="comentario">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>  </th>
            <td mat-cell *matCellDef="let comentarioBlog"> {{comentarioBlog.comentario}} </td>
          </ng-container>

          
      
        
        


          <ng-container matColumnDef="eliminar">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Eliminar </th>
            <td mat-cell *matCellDef="let comentarioBlog"> <button mat-icon-button style="color: #272727;" >
              <mat-icon>delete</mat-icon>
            </button>  </td>
          </ng-container>

          
      
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let categoria; columns: displayedColumns;">
          </tr>
        </table>
      
        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
      </div>
      
    

  </div>

</div>