<div class="panel-header panel-header-sm">
 
</div>


<div class="main-content">

  <div class="container">

    <div class="container" style="margin-top: 35px;">
    
      <mat-form-field>
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
      </mat-form-field>
      
      <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource" matSort>
      
          <!-- ID Column -->
          <ng-container matColumnDef="fecha">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha </th>
            <td mat-cell *matCellDef="let comentario"> {{comentario.fecha}} </td>
          </ng-container>
      
          <!-- Progress Column -->
          <ng-container matColumnDef="usuario">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Usuario </th>
            <td mat-cell *matCellDef="let comentario"> {{comentario.usuario}} </td>
          </ng-container>
      
        
      
          <!-- Color Column -->
          <ng-container matColumnDef="ver">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Ver </th>
            <td mat-cell *matCellDef="let comentario">  <button mat-icon-button style="color: #272727;" (click)="seeCommentary(comentario)">
              <mat-icon>remove_red_eye</mat-icon>
            </button> 
          </td>
          </ng-container>

          <ng-container matColumnDef="responder">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Responder </th>
            <td mat-cell *matCellDef="let comentario"> <button mat-icon-button style="color: #272727;" (click)="replyCommentary(comentario)">
              <mat-icon>reply</mat-icon>
            </button>  </td>
          </ng-container>
      
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let comentario; columns: displayedColumns;">
          </tr>
        </table>
      
        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
      </div>
      
    </div>
  
    

  </div>

</div>