.btn-save{
  background-color: #272727;
  color: white;
}

.btn-cancel{
  background-color: #f14545;
  color: white;
}

table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

td, th {
  width: 25%;
}