<div class="panel-header panel-header-sm">
 
</div>


<div class="main-content main-content-h imgbgl">

  <div class="container">
    <div class="container" style="margin-top: 35px;">
      <button mat-raised-button class="btn-save" style="background-color: rgb(58, 233, 58);" (click)="newCategory()"> Descargar Excel </button>

    
          
      <mat-form-field>
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
      </mat-form-field>
      
      <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource" matSort>
          <ng-container matColumnDef="fecha">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha </th>
            <td mat-cell *matCellDef="let pagoServicio"> {{pagoServicio.fecha}} </td>
          </ng-container>
          <ng-container matColumnDef="transaccion">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Transaccion </th>
            <td mat-cell *matCellDef="let pagoServicio"> {{pagoServicio.transaccion}} </td>
          </ng-container>
          <ng-container matColumnDef="nombre_servicio">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Servicio </th>
            <td mat-cell *matCellDef="let pagoServicio"> {{pagoServicio.nombre_servicio}} </td>
          </ng-container>

          <ng-container matColumnDef="nombre_proveedor">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Proveedor </th>
            <td mat-cell *matCellDef="let pagoServicio"> {{pagoServicio.nombre_proveedor}} </td>
          </ng-container>

          <ng-container matColumnDef="nombre_cliente">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Cliente </th>
            <td mat-cell *matCellDef="let pagoServicio"> {{pagoServicio.nombre_cliente}} </td>
          </ng-container>


          <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> ID de la transaccion </th>
            <td mat-cell *matCellDef="let pagoServicio"> {{pagoServicio.id}} </td>
          </ng-container>

          <ng-container matColumnDef="costo_total">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Monto </th>
            <td mat-cell *matCellDef="let pagoServicio"> {{pagoServicio.monto}}$ </td>
          </ng-container>
          <ng-container matColumnDef="comision_admin">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Comision de administracion </th>
            <td mat-cell *matCellDef="let pagoServicio"> {{pagoServicio.comision_admin}}$ </td>
          </ng-container>
      
        
        


          <ng-container matColumnDef="estado_pago">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Estado del pago </th>
            <td mat-cell *matCellDef="let pagoServicio"> <button mat-icon-button style="color: #272727;" (click)="pagoServicio.estado_pago = !pagoServicio.estado_pago">
              <mat-icon>{{pagoServicio.estado_pago? 'remove': 'done'}}</mat-icon>
            </button>  </td>
          </ng-container>

          <ng-container matColumnDef="estado_servicio">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Estado del servicio </th>
            <td mat-cell *matCellDef="let pagoServicio"> <button mat-icon-button style="color: #272727;" (click)="pagoServicio.estado_servicio = !pagoServicio.estado_servicio">
              <mat-icon>{{pagoServicio.estado_servicio? 'remove': 'done'}}</mat-icon>
            </button>  </td>
          </ng-container>

          
      
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let categoria; columns: displayedColumns;">
          </tr>
        </table>
      
        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
      </div>
      
    

  </div>

</div>