
<div class="panel-header panel-header-sm">

    <button class="btn-back" routerLink="/home-client" ><i class="fas fa-arrow-left"></i></button>

  <app-search-client-dashboard style="margin: 5px 10px;" ></app-search-client-dashboard>

</div>

 <h3 class="title" >Proveedores de servicios</h3>

 <div id="contend">
  <div class="cont-cards col-md-3 " *ngFor="let item of providers" >
   <!-- bg-transparent border-0  text-center -->
    <div class="card card-user  ml-5  "  id="{{ item.id_provider }}">

      <div class="image">
      <!--  <img src="../assets/img/bg5.jpg" alt="...">     *ngFor="let item of providers  "  -->
      </div>

      <div class="card-body"  >
        <div class="author">
          <img class="avatar border-gray" src="../assets/img/mike.jpg" (click) = "IrProfile()"  alt="...">
          <h5 class="title">{{ item.name_provider }}</h5>

          <p class="empresa ">
            Empresa: Nombre C.A .
          </p>

          <p class="description" >
              Ranking: <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i>
          </p>

        </div>

        <p>
          <a class="float-right btn text-white btn-danger"> <i class="fa fa-heart"></i> Favorite</a>
        </p>

      </div>

    </div>
  </div>
</div>
