

/* pag */

// @font-face {
//     font-family: 'FontAwesome';
//     src: url('/src/app/pages/registros/fonts/fontawesome-webfont.eot?v=4.7.0');
//     src: url('/src/app/pages/registros/fonts/fontawesome-webfont.eot?#iefix&v=4.7.0') format('embedded-opentype'), url('/src/app/pages/registros/fonts/fontawesome-webfont.woff2?v=4.7.0') format('woff2'), url('../fonts/fontawesome-webfont.woff?v=4.7.0') format('woff'), url('../fonts/fontawesome-webfont.ttf?v=4.7.0') format('truetype'), url('../fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular') format('svg');
//     font-weight: normal;
//     font-style: normal;
//   }

  *{
      margin: 0;
      padding: 0;
      box-sizing:border-box;
  }


  :focus{
      outline: none;
  }

  body{
      background: #DBDBDB;
      font-family: 'Open sans';
  }

  /* FORMULARIO =================================== */
  html, body{
    height:100%
    margin 0;
  }
  .form_wrap{
    /*  width: 1050px; */
    //  height: 100vh !important;
   //   margin: 10px auto;
     /* display: flex; */
     width: 100%;
min-height: 100%;
height: 100%;
position: fixed;
top:0;
left:0;
      background: #fff;
      border-radius: 5px;
      overflow: hidden;
      box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);

      /*katy row*/
      display: -ms-flex;
      display: -webkit-flex;
      display: flex;
  }

  .flex-child{
    display: -ms-flex;
    display: -webkit-flex;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  /* Informacion de Contacto*/

  .cantact_info::before{
      content: '';
      width: 100%;
      height: 100%;

      position: absolute;
      top: 0;
      left: 0;

    /*  background: #4091EC; */
      opacity: 0.9;
  }

  .cantact_info{
      width: 38%;
      position: relative;

    /*  display: flex; */
      flex-direction: column;
      align-items: center;
      justify-content: center;

    /*background-image: url('/src/assets/img/registro/bg.png');*/

    background-image: url('/assets/img/registro/bg.png');
   /* assets/img/registro/bg.png */

      background-size: cover;
      background-position: center center;

  }



  .info_title,
  .info_items{
      position: relative;
      z-index: 2;
      color: #fff;
  }

  .info_title{
      margin-bottom: 60px;
      align-content: center;
      text-align: center;
      margin: 20px auto;
      text-align: center;
  }

  .info_title span{
      font-size: 100px;
      display: block;
      text-align: center;
      margin-bottom: 15px;
  }

  .info_title h2{
      font-size: 35px;
      text-align: center;
  }

  .info_items p{
      display: flex;
      align-items: center;
      color: #ffffff ;
      font-size: 18px;
    /*  font-weight: 600; */
      margin-bottom: 10px;
      text-align: center;
      padding: 0px 20px;
  }

  .info_items p:nth-child(1) span{
      font-size: 30px;
      margin-right: 10px;
  }

  .info_items p:nth-child(2) span{
      font-size: 50px;
      margin-right: 15px;
      margin-left: 4px;
  }


  /* Formulario de contacto*/
  form.form_contact{
    /*  width: 62%;
      padding: 30px 40px; */
      width: 100%;
  }

  form.form_contact h2{
      font-size: 25px;
      font-weight: 600;
      color: #303030;
      margin-bottom: 30px;
  }
  form.form_contact span{
    display: flow-root;
    text-align: center;
  }

  form.form_contact .user_info{
      display: flex;
      flex-direction: column;
      margin-top: 20px;
  }

  form.form_contact label{
      font-weight: 600;
  }

  // form.form_contact input,
  // form.form_contact textarea{
  //     width: 100%;
  //     padding: 8px 0px 5px;
  //     margin-bottom: 20px;

  //     border: none;
  //     border-bottom: 1px solid #D1D1D1;

  //     font-family: 'Open sans';
  //     /* 	color: #5A5A5A;
  //     color: #ccc; */
  //     font-size: 14px;
  //     font-weight: 400;
  // }

  form.form_contact textarea{
      max-width: 100%;
      min-width: 100%;
      max-height: 90px;
  }

  form.form_contact input[type="button"]{
      width: 180px;
      background: #4091EC;
      padding: 10px;
      border: none;
      border-radius: 25px;

      align-self: flex-end;

      color: #fff;
      font-family: 'Open sans';
      font-size: 16px;
      font-weight: 600;
      cursor: pointer;
  }

  form.form_contact input[type="button"]:hover{
      background: #3371B6;
  }

  /* Ventana de errores*/
  .modal_wrap{
      width: 100%;
      height: 100vh;
      background: rgba(0,0,0,0.7);

      position: fixed;
      top: 0;
      left: 0;
      z-index: 3;

      display: flex;
      justify-content: center;
      align-items: center;
  }

  .mensaje_modal{
      background: #fff;
      box-shadow: 0px 0px 15px rgba(0,0,0,0.5);
      width: 400px;
      padding: 30px 20px 15px;
  }

  .mensaje_modal h3{
      text-align: center;
      font-family: 'Ubuntu';
      font-size: 20px;
      font-weight: 400;
  }

  .mensaje_modal h3:after{
      content: '';
      display: block;
      width: 100%;
      height: 1px;
      background: #C5C5C5;
      margin: 10px 0px 15px;
  }

  .mensaje_modal p{
      font-size: 16px;
      color: #606060;
  }

  .mensaje_modal p:before{
      content: "\f00d";
      font-family: FontAwesome;
      display: inline-block;
      color: #E25151;
      margin-right: 8px;
  }

  #btnClose{
      display: inline-block;
      padding: 3px 10px;
      margin-top: 10px;

      background: #E25151;
      color: #fff;
      border: 2px solid #B14141;
      cursor: pointer;
  }

  /*katy*/
  /*
  .info_logo[_ngcontent-fri-c1] {

    background: red;
    width: 70%;
    border-radius: 50%;

  }*/

  /* .nav-tabContent #nav-provider  */
  .tab-content{}

  .tab-content>.active{
    padding: 10px 20px 20px 20px;


  }

  .info_logo {
    width: 40%;
    margin-bottom: 70px;
  }

  .info_logo img {
    width: 100%;
  }

  .divFormRegistro{
    padding: 8px 10px;
    color: black;
    padding-top: 8%
  }

  .divFormRegistro .title{
    margin: 20px 30px;
  /*  text-align: center; */
  }
  .divFormRegistro .subtitle{
    font-weight:normal;
  }

  .nav-tabs .nav-item{
   /* display: inline-grid;*/
   /* display: inline-block;*/
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.2);
   /* width:35%;*/
    font-size: 15px;
  }
  .nav-fill .nav-item {
    /*flex: inherit;*/
    line-height: 27px;
    border-radius: 5px;
  }

  .nav-tabs .nav-link.active{
    color: #fff;
    background-color: rgba(140, 138, 138, 1);
  }
  .nav-tabs .nav-link{
    color: #2b2a2a;     font-weight: 600;
  }

  .nav-tabs {
    /*
    -webkit-box-shadow: 1px 38px 47px -18px rgba(0,0,0,0.53);
  -moz-box-shadow: 1px 38px 47px -18px rgba(0,0,0,0.53);
  box-shadow: 1px 38px 47px -18px rgba(0,0,0,0.53); */

  -webkit-box-shadow: -20px -101px 10px -16px rgba(0,0,0,0.53);
  -moz-box-shadow: -20px -101px 10px -16px rgba(0,0,0,0.53);
  box-shadow: -20px -101px 10px -16px rgba(0,0,0,0.53);

  }

  .buttons{
   /* width: 400px; */
    display: flex;
    justify-content: center;
  }

  .buttons > button{
    /* width: 400px; */
    padding: 9px 38px;
    border-radius: 5px;
    font-size: 15px;
    margin-top: 20px;
   }
  /*cuando este en telefono*/
   @media screen and (max-width: 600px) {
    .form_wrap{
      width: 100%;
    }
      .cantact_info{
      display:none;
      }
      .nav-tabs .nav-item{
       /* box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.2);*/
         width:100%;
         font-size: 13px;
      }
    }

    #btn-group-social{
      width: 100%;
      margin-bottom: 15px;
    }

    #btn-group-social button{
     padding: 5px 10px;
     margin: 6px 20px;
     color: white;
     font-size: 12px;
     border-radius: 5px;
    }

    #btn-group-social button a {  color: white; }
    #btn-group-social .btn-facebook{  background-color:#3C599F;}
    #btn-group-social .btn-google-plus { background-color:#CF3D2E; }
    #btn-group-social .btn-linkedin{  background-color:#0085AE;}

  .recapcha{
    height: 60px;
  }
  .recapcha img{
    height: 100%;
  }

  #registrarse{
    position: absolute;
    bottom: 5px;
    width: 96.5%;
    padding: 18px 5px;
    background-color: #c5c5c5a6;
    text-align: center;
    font-size: 17px;
    margin-top: 18px;

  }

  #registrarse span{
   color: blue;
   cursor: pointer;
  }
