
<div class="form_wrap  " style="  height:100%;
width:100%;">
    <section class="flex-child cantact_info  col-sm-4 col-lg-5">
        <div class="info_logo" >
          <img  src= "/assets/img/registro/logo.png"  >
        </div>
        <section class="info_title">
          <h3>Soy cliente</h3>
        </section>
        <section class="info_items">
          <p>Busco proveedores para mi evento</p>
        </section>
    </section>
  <div class="divFormRegistro  col-lg-7">
    <div  class="title text-center" >
        <h4>Iniciar Sesión</h4>
    </div>
      <div class="tab-content py-3 px-3 px-sm-0" id="nav-tabContent">
        <div class="tab-pane fade show active" id="nav-provider" role="tabpanel" aria-labelledby="nav-provider-tab">
           <div class="btn-group" id="btn-group-social" btn-group-justified >
               <button type="button" class="btn btn-facebook">
                 <i class="fa fa-facebook fa-lg fa-fw"  ></i>
               </button>
               <button type="button" class="btn btn-google-plus">
                  <i class="fa fa-google-plus"></i>
               </button>
               <button type="button" class="btn btn-linkedin">
                  <i  class="fa fa-linkedin" ></i>
               </button>
            </div>
           <form   [formGroup]="FormRegister"  (ngSubmit)="login()" class="form_contact" >
               <span styele="text-align: center" >o ingresa con tu cuenta de correo</span>
                <div class="user_info">
                  <!-- <input  id="email" type="text" placeholder="Correo" formControlName="email"> -->
                  <mat-form-field appearance="outline">
                    <mat-label>Email</mat-label>
                    <input matInput placeholder="Escriba su email" formControlName="email" required>
                    <mat-error>Email inválido, por favor verifique</mat-error>
                  </mat-form-field>
                  <!-- <input  id="password" type="password" placeholder="Contraseña"  formControlName="password" > -->
                  <mat-form-field appearance="outline">
                    <mat-label>Contraseña</mat-label>
                    <input matInput type="password" placeholder="Escriba su contraseña" formControlName="password" required>
                    <mat-error>Contraseña inválida, por favor verifique</mat-error>
                  </mat-form-field>
                 <!-- <div  *ngIf=" FormRegister.get('password').errors && FormRegister.get('password').dirty " >
                    <p  *ngIf="FormRegister.get('password').hasError('required')" >El campo es requerido</p>
                  </div> -->
                  <h4 *ngIf="invalidCredentials" 
                    style="text-align: center;color:red;"
                            >
                            Credenciales Inválidas</h4>
                  <div class="buttons">
                    <button class="btn btn-danger btn-responsive btninter right centrado" [disabled]="!FormRegister.valid" >Entrar</button>
                  </div>
                  </div>
             </form>
         </div>
    </div>
    <div id="registrarse" >
        ¿No tienes cuenta?  <span   routerLink="/register"  >Registrate aquí</span>
    </div>
  </div>
  <script src='https://www.google.com/recaptcha/api.js'></script>
</div>

