<div class="panel-header panel-header-sm">
</div>

<div class="main-content">
  <div class="row">
  <div class="col-md-12">
    <div class="card  card-tasks card-middle">
      <div class="card-header ">
        <h4 class="card-title">Notificaiones</h4>
        <h5 class="card-category">Administrar notificaciones</h5>
      </div>
      <div class="card-body ">
        <div class="table-full-width">
          <table class="table">
            <tbody>

              <tr style="padding: 50% 0;">
                <td class="text-left">Has recibido una cotización</td>
                <td class="text-right">
                  <div class="form-check">
                    <label class="form-check-label">
                      <input class="form-check-input" type="checkbox" checked>
                      <span class="form-check-sign"></span>
                    </label>
                  </div>
                </td>
              </tr>

              <tr class="table-tr">
                <td class="text-left">Tu requerimiento ha expirado</td>
                <td class="text-right">
                  <div class="form-check">
                    <label class="form-check-label">
                      <input class="form-check-input" type="checkbox" checked>
                      <span class="form-check-sign"></span>
                    </label>
                  </div>
                </td>
              </tr>

              <tr class="table-tr">
                <td class="text-left">Completar el pago</td>
                <td class="text-right">
                  <div class="form-check">
                    <label class="form-check-label">
                      <input class="form-check-input" type="checkbox" checked>
                      <span class="form-check-sign"></span>
                    </label>
                  </div>
                </td>
              </tr>

              <tr class="table-tr">
                <td class="text-left">Estado de disputa</td>
                <td class="text-right">
                  <div class="form-check">
                    <label class="form-check-label">
                      <input class="form-check-input" type="checkbox" checked>
                      <span class="form-check-sign"></span>
                    </label>
                  </div>
                </td>
              </tr>

            </tbody>
          </table>
        </div>
      </div>
      <div class="card-footer ">
        <button mat-raised-button color="warn" class="pull-right">Guardar</button>
      </div>
    </div>
  </div>
</div>

