

<div class="panel-header panel-header-sm">
</div>

<div class="col-md-11" id="contend-cards" style="background: white; padding: 15px;   margin-top: 20px;"  >

  <h3 style=" margin-top: 14px; text-align: center;">Seleccione sus proveedores de preferencia</h3>

    <!-- HTML DE CARD PROVIDERS -->

 <!-- contenedor Title ( Encuentra tu servicio ) -->
  <div class="box-content">
      <!--Title-->
      <div class="box-black" style="padding-top: 30px;">

      <!-- <h3 class="box-title">Encuentra tu servicio</h3>
        <p class="box-p">Los mejores proveedores para ti</p><br> -->
  <br>
        <!--Contenedor de los cards-->
        <div style="" class="row">

            <div class="col-12 col-sm-6 col-md-4 col-lg-3 mt-4">
              <div class="carousel-box">
                <h4 style="color:white">Animador / Presentador</h4>

                <button mat-raised-button color="warn"class="pull-right">Ver más</button>

                <button type="button" class="">
                    <span class="fa fa-star "></span>
                </button>

              </div>
              <img src="assets/provider/animador presentador.png" class="img-fluid mx-auto d-block" alt="img1">
            </div>

            <div class="col-12 col-sm-6 col-md-4 col-lg-3 mt-4">
              <div class="carousel-box">
                <h4 style="color:white">Events planner</h4>
                <button mat-raised-button color="warn"class="pull-right">Ver más</button>
                <button type="button" class="">    <span class="fa fa-star"></span>      </button>
              </div>
              <img src="assets/provider/Events planner.png" class="img-fluid mx-auto d-block" alt="img1">
            </div>

            <div class="col-12 col-sm-6 col-md-4 col-lg-3 mt-4">
              <div class="carousel-box">
                <h4 style="color:white">Bartender / Barman</h4>
                <button mat-raised-button color="warn"class="pull-right">Ver más</button>
                <button type="button" class="">    <span class="fa fa-star"></span>      </button>

              </div>
              <img src="assets/provider/Bartender - barman.png" class="img-fluid mx-auto d-block" alt="img1">
            </div>

            <div class="col-12 col-sm-6 col-md-4 col-lg-3 mt-4">
              <div class="carousel-box">
                <h4 style="color:white">Personal de servicio</h4>
                <button mat-raised-button color="warn"class="pull-right">Ver más</button>
                <button type="button" class="">    <span class="fa fa-star"></span>      </button>

              </div>
              <img src="assets/provider/personal de servicio.png" class="img-fluid mx-auto d-block" alt="img1">
            </div>

            <div class="col-12 col-sm-6 col-md-4 col-lg-3 mt-4">
              <div class="carousel-box">
                <h4 style="color:white">Parrillero</h4>
                <button mat-raised-button color="warn"class="pull-right">Ver más</button>
                <button type="button" class="">    <span class="fa fa-star"></span>      </button>

              </div>
              <img src="assets/provider/parrillero.png" class="img-fluid mx-auto d-block" alt="img1">
            </div>

            <div class="col-12 col-sm-6 col-md-4 col-lg-3 mt-4">
              <div class="carousel-box">
                <h4 style="color:white">Chef</h4>
                <button mat-raised-button color="warn"class="pull-right">Ver más</button>
                <button type="button" class="">    <span class="fa fa-star"></span>      </button>

              </div>
              <img src="assets/provider/chef.png" class="img-fluid mx-auto d-block" alt="img1">
            </div>

            <div class="col-12 col-sm-6 col-md-4 col-lg-3 mt-4">
              <div class="carousel-box">
                <h4 style="color:white">Sommeliers</h4>
                <button mat-raised-button color="warn"class="pull-right">Ver más</button>
                <button type="button" class="">    <span class="fa fa-star"></span>      </button>

              </div>
              <img src="assets/provider/sommeliers.png" class="img-fluid mx-auto d-block" alt="img1">
            </div>

            <div class="col-12 col-sm-6 col-md-4 col-lg-3 mt-4">
              <div class="carousel-box">
                <h4 style="color:white">Guías turisticos</h4>
                <button mat-raised-button color="warn"class="pull-right">Ver más</button>
                <button type="button" class="">    <span class="fa fa-star"></span>      </button>

              </div>
              <img src="assets/provider/guias turisticos.png" class="img-fluid mx-auto d-block" alt="img1">
            </div>

            <div class="col-12 col-sm-6 col-md-4 col-lg-3 mt-4">
              <div class="carousel-box">
                <h4 style="color:white">Anfitriones / Recepcionistas</h4>
                <button mat-raised-button color="warn"class="pull-right">Ver más</button>
                <button type="button" class="">    <span class="fa fa-star"></span>      </button>

              </div>
              <img src="assets/provider/anfitriones y recepcionistas.png" class="img-fluid mx-auto d-block" alt="img1">
            </div>

            <div class="col-12 col-sm-6 col-md-4 col-lg-3 mt-4">
              <div class="carousel-box">
                <h4 style="color:white">Modelos y promotoras</h4>
                <button mat-raised-button color="warn"class="pull-right">Ver más</button>
                <button type="button" class="">    <span class="fa fa-star"></span>      </button>

              </div>
              <img src="assets/provider/modelos y promotoras.png" class="img-fluid mx-auto d-block" alt="img1">
            </div>

            <div class="col-12 col-sm-6 col-md-4 col-lg-3 mt-4">
              <div class="carousel-box">
                <h4 style="color:white">Relatores y coach</h4>
                <button mat-raised-button color="warn"class="pull-right">Ver más</button>
                <button type="button" class="">    <span class="fa fa-star"></span>      </button>

              </div>
              <img src="assets/provider/relatores y coach.png" class="img-fluid mx-auto d-block" alt="img1">
            </div>

            <div class="col-12 col-sm-6 col-md-4 col-lg-3 mt-4">
              <div class="carousel-box">
                <h4 style="color:white">Sastrería y Confección</h4>
                <button mat-raised-button color="warn"class="pull-right">Ver más</button>
                <button type="button" class="">    <span class="fa fa-star"></span>      </button>

              </div>
              <img src="assets/provider/sastreria y confeccion.png" class="img-fluid mx-auto d-block" alt="img1">
            </div>

            <div class="col-12 col-sm-6 col-md-4 col-lg-3 mt-4">
              <div class="carousel-box">
                <h4 style="color:white">Maquillaje y Peluqueria</h4>
                <button mat-raised-button color="warn"class="pull-right">Ver más</button>
                <button type="button" class="">    <span class="fa fa-star"></span>      </button>

              </div>
              <img src="assets/provider/maquillaje y peluqueria.png" class="img-fluid mx-auto d-block" alt="img1">
            </div>

            <div class="col-12 col-sm-6 col-md-4 col-lg-3 mt-4">
              <div class="carousel-box">
                <h4 style="color:white">Decoradoras</h4>
                <button mat-raised-button color="warn"class="pull-right">Ver más</button>
                <button type="button" class="">    <span class="fa fa-star"></span>      </button>

              </div>
              <img src="assets/provider/decoradoras.png" class="img-fluid mx-auto d-block" alt="img1">
            </div>

          </div>


    </div>

  </div><!--Fin box-content-->




</div> <!-- contenedor general-->
