/*

//card
.banner{
  background-image: url('/assets/home/bg.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 717px;
  padding: 0 10%;
}

.banner-title{
  text-shadow: 2px 2px black;
  color: white;
  font-size: 40px;
  font-weight: bold;
}

.banner-p{
  text-shadow: 2px 2px black;
  color: white;
  font-size: 19px;
  font-weight: bold;
}
///katy
.box-content{
 // height: 833px;
}

.box-black{
 // height: 1089px; //469px;
  padding: 0 7.5%;
 // background: #111111;
  padding-bottom: 30px;
  align-items: stretch;
}

.box-grey{
  height: 364px;
  background: #e1e1e1;
}

.box-title{
  //color: white;
  color: black;
  font-size: 30px;
  font-weight: bold;
}

.box-p{
//  color: white !important;
  color: black;
  font-size: 14px;
  font-weight: bold;
}


p{
  word-break: break-all;
}
//
.box-content {
  position: relative;
}

.box-content .content-absolute {
  //position: absolute;
}

/********CARDS ***** * /
.cards-contend{
 // margin-bottom: ;
}
.card-img-top{
  border: 0px;
}

.card-content{//igual q .card
  //position: absolute;
  position: relative;
  //top: 0;
  //    right: -33.3333%;  /*change this with javascript in the future*/
  //  z-index: -1;
  //display: block;
 // width: 25%;
 // visibility: visible;
 /* border: 0px;
  padding: 0px;*/
  /*
}

.card{
  border-radius: 9px;
  background-color: transparent;
  border: 0px;
  padding: 0px;
  margin: 12px 0px;
}

.card-rows{
  display: flex;
  justify-content:center; ///.center-h
  /*define cómo se deben distribuir sus elementos descendientes a lo
  largo del eje principal. Por defecto horizontalmente*/
  /*align-items: center; //.center-v  //start, alinea verticalmente por defecto strech
}

/*cars body katy*/
/*.card-body {
    /* float: left; /
    display: inline-block;
    position: absolute;
    /* padding: 1.25rem; /
    background: rgba(86,84,84,0.45);
    padding: 8px 16px;
    color: white;
    left: 0;
    bottom: 0;
}
.card-body .card-text{
  font-size: 10px;
}
.mat-raised-button{
  line-height: 30px;
  border-radius: 6px;
}

//*******************artiles
.carousel-inner .active.col-md-4.carousel-item + .carousel-item + .carousel-item + .carousel-item {
  position: absolute;
  top: 0;
 // right: -33.3333%;  /*change this with javascript in the future*/
  /*z-index: -1;
  display: block;
  visibility: visible;
}
.carousel-item{
  position: relative;
}

.carousel-box{
  position: absolute;
  bottom: 2%;
}

.mat-raised-button{
  font-size: medium;
 // padding: 0px 15px;
}

@media (min-width: 768px){
  .card-title{
    font-size: 15px;
  }
  .card-body .card-text{
    font-size: 13px;
  }
}  */
//cards

.banner{
  background-image: url('/assets/cliente/banner.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 717px;
  padding: 0 10%;
}

.banner-title{
  text-shadow: 2px 2px black;
  color: white;
  font-size: 40px;
  font-weight: bold;
}

.banner-p{
  text-shadow: 2px 2px black;
  color: white;
  font-size: 19px;
  font-weight: bold;
}

@media (min-width: 991px) and (max-width: 1520px) {
  .carousel-box{
      width: 70%;
      padding-left: 20%;
      bottom: 5%;
  }
}

@media (min-width: 1521px){
  .carousel-box{
      width: 70% !important;
      padding-left: 20% !important;
  }
}

.carousel-box{
  position: absolute;
  width: 80%;
  padding-left: 10%;
  bottom: 10%;
}

p{
  word-break: break-all;
}


div#contend-cards {
  margin: auto;
}

span.fa-star{
  cursor: pointer;
  background: transparent;
  border: 0;
  color: yellow;
  font-size: 25px;
}
