<div class="box-content">
  <div class="box-black">
    <h3 class="box-title">Encuentra tu servicio</h3>
    <p class="box-p">Los mejores proveedores para ti</p>
    
    <div class="top-content">
      <div class="container-fluid">
          <div id="carousel-example" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner row w-100 mx-auto" role="listbox">
              <div class="carousel-item col-12 col-sm-6 col-md-4 col-lg-3 active">
                <div class="carousel-box">
                  <h4 style="color:white">Gastronomia</h4>
                  <p style="color:white">Servicios de gastronia y alimentación</p>
                  <button mat-raised-button color="warn"class="pull-right">Ver más</button>
                </div>
                <img src="assets/home/1.png" class="img-fluid mx-auto d-block" alt="img1">
              </div>
              <div class="carousel-item col-12 col-sm-6 col-md-4 col-lg-3">
                <div class="carousel-box">
                  <h4 style="color:white">Gastronomia</h4>
                  <p style="color:white">Servicios de gastronia y alimentación </p>
                  <button mat-raised-button color="warn"class="pull-right">Ver más</button>
                </div>
                <img src="assets/home/2.png" class="img-fluid mx-auto d-block" alt="img1">
              </div>
              <div class="carousel-item col-12 col-sm-6 col-md-4 col-lg-3">
                <div class="carousel-box">
                  <h4 style="color:white">Gastronomia</h4>
                  <p style="color:white">Servicios de gastronia y alimentación</p>
                  <button mat-raised-button color="warn"class="pull-right">Ver más</button>
                </div>
                <img src="assets/home/3.png" class="img-fluid mx-auto d-block" alt="img1">
              </div>
              <div class="carousel-item col-12 col-sm-6 col-md-4 col-lg-3">
                <div class="carousel-box">
                  <h4 style="color:white">Gastronomia</h4>
                  <p style="color:white">Servicios de gastronia y alimentación</p>
                  <button mat-raised-button color="warn"class="pull-right">Ver más</button>
                </div>
                <img src="assets/home/4.png" class="img-fluid mx-auto d-block" alt="img1">
              </div>
              <div class="carousel-item col-12 col-sm-6 col-md-4 col-lg-3">
                <div class="carousel-box">
                  <h4 style="color:white">Gastronomia</h4>
                  <p style="color:white">Servicios de gastronia y alimentación</p>
                  <button mat-raised-button color="warn"class="pull-right">Ver más</button>
                </div>
                <img src="assets/home/5.png" class="img-fluid mx-auto d-block" alt="img1">
              </div>
              <div class="carousel-item col-12 col-sm-6 col-md-4 col-lg-3">
                <div class="carousel-box">
                  <h4 style="color:white">Infraestructura</h4>
                  <p style="color:white">Arrienda y venta de Infraestructura para eventos</p>
                  <button mat-raised-button color="warn"class="pull-right">Ver más</button>
                </div>
                <img src="assets/home/6.png" class="img-fluid mx-auto d-block" alt="img1">
              </div>
              <div class="carousel-item col-12 col-sm-6 col-md-4 col-lg-3">
                <div class="carousel-box">
                  <h4 style="color:white">Artistas</h4>
                  <p style="color:white">Artistas, Cantantes, Bandas de musica</p>
                  <button mat-raised-button color="warn"class="pull-right">Ver más</button>
                </div>
                <img src="assets/home/7.png" class="img-fluid mx-auto d-block" alt="img1">
              </div>
              <div class="carousel-item col-12 col-sm-6 col-md-4 col-lg-3">
                <div class="carousel-box">
                  <h4 style="color:white">Gastronomia</h4>
                  <p style="color:white">Servicios de gastronia y alimentación</p>
                  <button mat-raised-button color="warn"class="pull-right">Ver más</button>
                </div>
                <img src="assets/home/8.png" class="img-fluid mx-auto d-block" alt="img1">
              </div>
              <div class="carousel-item col-12 col-sm-6 col-md-4 col-lg-3">
                <div class="carousel-box">
                  <h4 style="color:white">Gastronomia</h4>
                  <p style="color:white">Servicios de gastronia y alimentación</p>
                  <button mat-raised-button color="warn"class="pull-right">Ver más</button>
                </div>
                <img src="assets/home/9.png" class="img-fluid mx-auto d-block" alt="img1">
              </div>
              <div class="carousel-item col-12 col-sm-6 col-md-4 col-lg-3">
                <div class="carousel-box">
                  <h4 style="color:white">Gastronomia</h4>
                  <p style="color:white">Servicios de gastronia y alimentación</p>
                  <button mat-raised-button color="warn"class="pull-right">Ver más</button>
                </div>
                <img src="assets/home/10.png" class="img-fluid mx-auto d-block" alt="img1">
              </div>
          </div>
            <a class="carousel-control-prev" href="#carousel-example" role="button" data-slide="prev">
              <i class="fas fa-angle-left fa-3x" style="color: #f44337;"></i>
            </a>
            <a class="carousel-control-next" href="#carousel-example" role="button" data-slide="next">
              <i class="fas fa-angle-right fa-3x" style="color: #f44337;"></i>
            </a>
          </div>
      </div>
    </div>

  </div>
  <div class="box-grey text-center">
    <h3 class="box-title pt-5" style="color: black;">Proveedores destacados</h3>
  </div>
</div>

