.newsletter{
    background: #e1e1e1;
    height: 196px;
}

.font-title{
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 0;
}
.input-newslatter{
    line-height: 30px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    width: 50%;
    padding: 0px 18px 0px 18px;
}