<div class="newsletter text-center">
  <div class="mt-4">
    <h3 class="font-title" style="padding-top: 3%;">Suscríbete al Newslatter</h3>
    <form [formGroup]="newsForm" (ngSubmit)="suscribe()" class="mt-5">
        <input type="mail" placeholder="Ingresar E-mail" formControlName="email" class="input-newslatter">
        <button mat-raised-button color="warn" type="submit" [ngStyle]="{'width':'25%'}">Suscribirse</button>
    </form>
  </div>
</div>