.btn-save{
    background-color: #272727;
    color: white;
}

.btn-cancel{
    background-color: #f14545;
    color: white;
    margin: auto !important;
}

.dialog-content{
    height: 150px;
    overflow-y: scroll;
}