<h2 mat-dialog-title> Editar subcategoria </h2>
<mat-dialog-content class="dialog-content row">
  <form [formGroup]="editarSubcategoriaForm">
    <mat-form-field class="col-sm-12">
      <input matInput formControlName="nombre"  placeholder="nombre de la subcategoria">
    </mat-form-field>

    <mat-form-field class="col-sm-12">
      <mat-select    formControlName="idCategoria" placeholder="Categoria">
        <mat-option *ngFor="let categoria of categorias" [value]="categoria._id">{{categoria.nombre}}</mat-option>

      </mat-select>

    </mat-form-field>


  </form>


</mat-dialog-content>
<mat-dialog-actions>
  <button mat-raised-button [disabled]="editarSubcategoriaForm.invalid" class="btn-save" (click)="editarSubcategoria()">Guardar</button>
  <button  mat-raised-button class="btn-cancel" (click)="onNoClick()">Descartar cambios</button>
</mat-dialog-actions>