.main{
    background-color: #272727;
}

.btn-save{
    background-color: #272727;
    color: white;
}

.btn-cancel{
    background-color: #f14545;
    color: white;
}

.input-file{
    display: none;
}

    label[for="logo"] {
        font-size: 12px;
        font-weight: 600;
        color: #fff;
        background-color: #272727;
        display: inline-block;
        transition: all .5s;
        cursor: pointer;
        padding: 10px 20px !important;
        text-transform: uppercase;
        width: fit-content;
        text-align: center;
        border-radius: 5px;
        }


.mat-divider {
    display: block;
    margin: 0;
    border-top-width: 2px;
    border-top-style: solid;
    width: 100%;
    margin-top: 10px;
}
.main-content{
    min-height: 100% !important ;
}