<div class="panel-header panel-header-sm">
 
</div>


<div class="main-content">
  
  <div class="container" style="margin-top: 50px;">
   
    <form class="row">
      <h2>Configuracion del sitio</h2>
      <div class="col-sm-12"></div>
      <mat-form-field class="col-sm-6">
        <input matInput placeholder="nombre del sitio" value="haztefama">
      </mat-form-field>
    
      <mat-form-field class="col-sm-6">
        <input matInput placeholder="Dirección de correo electrónico " value="admin@haztefama.com">
      </mat-form-field>
      <div class="col-sm-6" style="margin-top: 10px;">
        <img src="../../../../assets/home/logo.png" width="80px">
        
        <input type="file" id="logo" class="input-file" >
        <label for="logo" style="margin-left: 15px;" >Cambiar logo</label>

      </div>
      
      <div class="col-sm-6" style="margin-top: 10px;">
        <img src="../../../../assets/img/favicon.png" width="80px">
        
        <input type="file" id="logo" class="input-file" >
        <label for="logo" style="margin-left: 15px;" >Cambiar favicon</label>

      </div>
      <br>
      <mat-divider></mat-divider>
      <h2 style="margin-top: 15px;">Configuraciones de API</h2>

      <div class="col-sm-12"></div >


    <mat-form-field class="col-sm-6">
        <input matInput placeholder="Google Analytic Code" value="UA-1228911-36">
      </mat-form-field>
     
   
      
      <mat-form-field class="col-sm-6">
        <input matInput type="number" placeholder="Facebook App ID" value="64654654155645654">
      </mat-form-field>
      


    

      <mat-form-field class="col-sm-6">
        <input matInput placeholder="Facebook App Secret" value="fasfa9s8f78a6sfas6f8sa7fa8f65d4s">
      </mat-form-field>

      <mat-form-field class="col-sm-6">
        <input matInput placeholder="Google App ID" value="84845ASD6AS54FSAF45">
      </mat-form-field>

      <mat-form-field class="col-sm-6">
        <input matInput placeholder="Google App Secret" value="fasfa9s8f78a6sfas6f8sa7fa8f65d4s">
      </mat-form-field>

      <mat-form-field class="col-sm-6">
        <input matInput placeholder="Linkedin App ID" value="654d6s45ds65455">
      </mat-form-field>

      <mat-form-field class="col-sm-6">
        <input matInput placeholder="Linkedin App Secret" value="dghseefhshetyafgsaeffer">
      </mat-form-field>

      <mat-form-field class="col-sm-6">
        <input matInput placeholder="Google Recaptcha" value="asdassg887416sdf7sd8f49sd8f8sd9f4s89d4f8sd">
      </mat-form-field>  
      
      <br>

      <mat-divider></mat-divider>

      <h2 style="margin-top: 10px;">Configuraciones de Email</h2>

      <div class="col-sm-12"></div>

      <mat-form-field class="col-sm-6">
        <input matInput type="email" placeholder="Email" value="administrador@haztefama.com">
      </mat-form-field>  

      <mat-form-field class="col-sm-6">
        <input matInput type="text" placeholder="SMTP Host" value="mail.haztefama.com">
      </mat-form-field>  

      <mat-form-field class="col-sm-6">
        <input matInput type="number" placeholder="SMTP Port" value="456">
      </mat-form-field>  

      <mat-form-field class="col-sm-6">
        <input matInput type="text" placeholder="SMTP username" value="administrador@haztefama.com">
      </mat-form-field> 
      <mat-form-field class="col-sm-6">
        <input matInput type="password" placeholder="SMTP password" value="administrador">
      </mat-form-field> 

      <br>

      <mat-divider></mat-divider>
      <h2 style="margin-top: 10px;">Configuraciones del pie de página</h2>

      <div class="col-sm-12"></div>

      <mat-form-field class="col-sm-6">
        <input matInput type="text" placeholder="Facebook Link" value="www.Facebook.com/haztefama">
      </mat-form-field> 
      <mat-form-field class="col-sm-6">
        <input matInput type="text" placeholder="Twitter Link" value="www.twitter.com/haztefama">
      </mat-form-field> 
      <mat-form-field class="col-sm-6">
        <input matInput type="text" placeholder="Instagram Link" value="www.instagram.com/haztefama">
      </mat-form-field> 
      <mat-form-field class="col-sm-6">
        <input matInput type="text" placeholder="LinkedIn Link" value="www.linkedin.com/haztefama">
      </mat-form-field> 
      <mat-form-field class="col-sm-6">
        <input matInput type="text" placeholder="Ncrypted Link" value="www.ncrypted.com//haztefama">
      </mat-form-field> 
      <mat-form-field class="col-sm-6">
        <input matInput type="text" placeholder="Footer Copyrights Text" value=" Copyright 2019 Haztefama Chile - Todos los derechos reservados ">
      </mat-form-field> 
      
      <br>

      <mat-divider></mat-divider>
      <h2 style="margin-top: 10px;">Configuraciones de pago</h2>

      <mat-form-field class="col-sm-12">
        <input matInput type="text" placeholder="Servipag URL" value="ww3.servipag.com">
      </mat-form-field> 
      <mat-form-field class="col-sm-12">
        <input matInput type="text" placeholder="Servipag EMAIL" value="administrador@haztefama.com">
      </mat-form-field> 

      <br>

      <mat-divider></mat-divider>
      <h2 style="margin-top: 10px;">Otras configuraciones</h2>

      <mat-form-field class="col-sm-12">
        <input matInput type="number" placeholder="Scroll Limit" value="500">
      </mat-form-field> 
      <mat-checkbox> Requerir logotipo incriptado</mat-checkbox>
      <mat-form-field class="col-sm-12">
        <input matInput type="number" placeholder="Max Quote Limit" value="20">
      </mat-form-field> 

      <mat-form-field class="col-sm-12">
        <input matInput type="text" placeholder="version" value="1.0.0">
      </mat-form-field>

      <mat-checkbox> Force update</mat-checkbox>

      
      <br>

      <mat-divider></mat-divider>
      <h2 style="margin-top: 10px;">Estadísticas del lado frontal</h2>
      <div class="col-sm-12"></div>
      <mat-form-field class="col-sm-6">
        <input matInput type="number" placeholder="Total Provider" value="500">
      </mat-form-field> 
      
      <mat-form-field class="col-sm-6">
        <input matInput type="number" placeholder="Total Custome" value="60">
      </mat-form-field> 

      <mat-form-field class="col-sm-6">
        <input matInput type="number" placeholder="Total Service" value="400">
      </mat-form-field> 
      
      <mat-form-field class="col-sm-6">
        <input matInput type="number" placeholder="Total Hired." value="30">
      </mat-form-field> 
      
      <div class="col-sm-12"></div>

      

      <button style="margin-top: 10px;" mat-raised-button class="btn-save">Guardar cambios</button>
      <button style="margin-top: 10px;margin-left: 10px;" mat-raised-button class="btn-cancel">Descartar cambios</button>
    </form>

  </div>

</div>