
<div class="logo">
    <a routerLink="/login/provider/profile" class="simple-text logo-mini">
      <div class="logo-img">
          <img src="/assets/home/logo.png"/>
      </div>
    </a>
    <a routerLink="/login/provider/profile" class="simple-text logo-normal">
        HazteFama
    </a>
</div>
<div class="sidebar-wrapper">
    <ul class="nav">
        <li routerLinkActive="active" *ngFor="let menuItem of menuItems" class="{{menuItem.class}} nav-item">
            <a *ngIf="!menuItem.childrens && !menuItem.client && !menuItem.provider" [routerLink]="[menuItem.path]">
                <i class="now-ui-icons {{menuItem.icon}}"></i>
                <p>{{menuItem.title}}</p>
            </a>

            <a *ngIf="menuItem.client" (click)="changeRol('provider')" [routerLink]="[menuItem.path]" >
                <i class="now-ui-icons {{menuItem.icon}}"></i>
                <p>{{menuItem.title}}</p>
            </a>
            
            <a *ngIf="menuItem.provider" (click)="changeRol('client')" [routerLink]="[menuItem.path]" >
                <i class="now-ui-icons {{menuItem.icon}}"></i>
                <p>{{menuItem.title}}</p>
            </a>

            <a *ngIf="menuItem.childrens" (click)="openListChilds(menuItem.id)"> 
                <i class="now-ui-icons {{menuItem.icon}}"></i>
                <p>{{menuItem.title}}</p>
            </a>

            <ul  *ngFor="let child of menuItem.childrens" class="nav">
                <li *ngIf="show == child.parentId" class="{{child.class}} nav-item">
                    <a style="margin-left: 30px;" [routerLink]="[child.path]">
                        <i class="now-ui-icons {{child.icon}}"></i>
                        <p>{{child.title}}</p>
                    </a>
                </li>
            </ul>
            
                  
        </li>
    </ul>
</div>
