<div class="panel-header panel-header-sm">
</div>
<div class="main-content">
  <div class="row">
  <div class="col-md-12">
    <div class="card  card-tasks card-middle">
      <div class="card-header ">
        <h4 class="card-title">Cambiar contraseña</h4>
        <h5 class="card-category">Administrar contraseña</h5>
      </div>
      <form [formGroup]="changeForm" (ngSubmit)="changePassword()">
        <div class="card-body">
          <div class="col-12">
            <mat-form-field style="width: 100%;">
              <input matInput placeholder="Contraseña actual">
            </mat-form-field>
          </div>

          <div class="col-12">
            <mat-form-field style="width: 100%;">
              <input matInput placeholder="Nueva contraseña">
            </mat-form-field>
          </div>

          <div class="col-12">
            <mat-form-field style="width: 100%;">
              <input matInput placeholder="Repetir contraseña">
            </mat-form-field>
          </div>
        </div>
        <div class="card-footer" style="margin-bottom: 50px;">
          <button type="submit" mat-raised-button color="warn" class="pull-right">Guardar</button>
        </div>
      </form>
    </div>
  </div>
</div>

