<!-- HTML DE CARD PROVnameERS -->

 <!-- contenedor Title ( Encuentra tu servicio ) -->
  <div class="box-content">
    <!--Title-->
    <div class="box-black" style="">

    <!-- <h3 class="box-title">Encuentra tu servicio</h3>
      <p class="box-p">Los mejores proveedores para ti</p><br> -->
<br>
      <!--Contenedor de los cards-->
      <div id="category_1"  name="cards-contend" class="content-absolute">




     </div> <!--Finaliza contenedor de los cards-->

     <div style="padding: 5% 5%; margin: 0;" class="row">

        <div class="col-12 col-sm-6 col-md-4 col-lg-3 mt-4">
          <div class="carousel-box">
            <h4 style="color:white">Animador / Presentador</h4> <!-- animadorde fiesta, de restaurante .  ng-click="showPoput()"-->
            <button mat-raised-button color="warn" class="pull-right" id="category_1"  name="Animador / Presentador" #animador (click)="subCategories(animador)" >Ver más</button>
          </div>
          <img src="assets/provnameer/animador presentador.png" class="img-fluname mx-auto d-block" alt="img1">
        </div>

        <div class="col-12 col-sm-6 col-md-4 col-lg-3 mt-4">
          <div class="carousel-box">
            <h4 style="color:white">Events planner</h4>
            <button mat-raised-button color="warn"class="pull-right" id="category_1"  name="Events planner"   #c2 (click)="subCategories(c2)" >Ver más</button>
          </div>
          <img src="assets/provnameer/Events planner.png" class="img-fluname mx-auto d-block" alt="img1">
        </div>

        <div class="col-12 col-sm-6 col-md-4 col-lg-3 mt-4">
          <div class="carousel-box">
            <h4 style="color:white">Bartender / Barman</h4>
            <button mat-raised-button color="warn"class="pull-right" id="category_1"  name="Bartender / Barman"   #c3 (click)="subCategories(c3)" >Ver más</button>
          </div>
          <img src="assets/provnameer/Bartender - barman.png" class="img-fluname mx-auto d-block" alt="img1">
        </div>

        <div class="col-12 col-sm-6 col-md-4 col-lg-3 mt-4">
          <div class="carousel-box">
            <h4 style="color:white">Personal de servicio</h4>
            <button mat-raised-button color="warn"class="pull-right" id="category_1"  name="Personal de servicio"  #c4 (click)="subCategories(c4)">Ver más</button>
          </div>
          <img src="assets/provnameer/personal de servicio.png" class="img-fluname mx-auto d-block" alt="img1">
        </div>

        <div class="col-12 col-sm-6 col-md-4 col-lg-3 mt-4">
          <div class="carousel-box">
            <h4 style="color:white">Parrillero</h4>
            <button mat-raised-button color="warn"class="pull-right" id="category_1"  name="Parrillero"  #c5 (click)="subCategories(c5)" >Ver más</button>
          </div>
          <img src="assets/provnameer/parrillero.png" class="img-fluname mx-auto d-block" alt="img1">
        </div>

        <div class="col-12 col-sm-6 col-md-4 col-lg-3 mt-4">
          <div class="carousel-box">
            <h4 style="color:white">Chef</h4>
            <button mat-raised-button color="warn"class="pull-right" id="category_1"  name="Chef" #c6 (click)="subCategories(c6)" >Ver más</button>
          </div>
          <img src="assets/provnameer/chef.png" class="img-fluname mx-auto d-block" alt="img1">
        </div>

        <div class="col-12 col-sm-6 col-md-4 col-lg-3 mt-4">
          <div class="carousel-box">
            <h4 style="color:white">Sommeliers</h4>
            <button mat-raised-button color="warn"class="pull-right" id="category_1"  name="Sommeliers" #c7 (click)="subCategories(c7)" >Ver más</button>
          </div>
          <img src="assets/provnameer/sommeliers.png" class="img-fluname mx-auto d-block" alt="img1">
        </div>

        <div class="col-12 col-sm-6 col-md-4 col-lg-3 mt-4">
          <div class="carousel-box">
            <h4 style="color:white">Guías turisticos</h4>
            <button mat-raised-button color="warn"class="pull-right" id="category_1"  name="Guías turisticos" #c8 (click)="subCategories(c8)" >Ver más</button>
          </div>
          <img src="assets/provnameer/guias turisticos.png" class="img-fluname mx-auto d-block" alt="img1">
        </div>

        <div class="col-12 col-sm-6 col-md-4 col-lg-3 mt-4">
          <div class="carousel-box">
            <h4 style="color:white">Anfitriones / Recepcionistas</h4>
            <button mat-raised-button color="warn"class="pull-right"  id="category_1"  name="Anfitriones / Recepcionistas" #c9 (click)="subCategories(c9)">Ver más</button>
          </div>
          <img src="assets/provnameer/anfitriones y recepcionistas.png" class="img-fluname mx-auto d-block" alt="img1">
        </div>

        <div class="col-12 col-sm-6 col-md-4 col-lg-3 mt-4">
          <div class="carousel-box">
            <h4 style="color:white">Modelos y promotoras</h4>
            <button mat-raised-button color="warn"class="pull-right"  id="category_1"  name="Modelos y promotoras"  #c10 (click)="subCategories(c10)" >Ver más</button>
          </div>
          <img src="assets/provnameer/modelos y promotoras.png" class="img-fluname mx-auto d-block" alt="img1">
        </div>

        <div class="col-12 col-sm-6 col-md-4 col-lg-3 mt-4">
          <div class="carousel-box">
            <h4 style="color:white">Relatores y coach</h4>
            <button mat-raised-button color="warn"class="pull-right" id="category_1"  name="Relatores y coach"  #c11 (click)="subCategories(c11)" >Ver más</button>
          </div>
          <img src="assets/provnameer/relatores y coach.png" class="img-fluname mx-auto d-block" alt="img1">
        </div>

        <div class="col-12 col-sm-6 col-md-4 col-lg-3 mt-4">
          <div class="carousel-box">
            <h4 style="color:white">Sastrería y Confección</h4>
            <button mat-raised-button color="warn"class="pull-right" id="category_1"  name="Sastrería y Confección"  #c12 (click)="subCategories(c12)">Ver más</button>
          </div>
          <img src="assets/provnameer/sastreria y confeccion.png" class="img-fluname mx-auto d-block" alt="img1">
        </div>

        <div class="col-12 col-sm-6 col-md-4 col-lg-3 mt-4">
          <div class="carousel-box">
            <h4 style="color:white">Maquillaje y Peluqueria</h4>
            <button mat-raised-button color="warn" class="pull-right"  id="category_1"  name="Maquillaje y Peluqueria"   #c13 (click)="subCategories(c13)">Ver más</button>
          </div>
          <img src="assets/provnameer/maquillaje y peluqueria.png" class="img-fluname mx-auto d-block" alt="img1">
        </div>

        <div class="col-12 col-sm-6 col-md-4 col-lg-3 mt-4">
          <div class="carousel-box">
            <h4 style="color:white">Decoradoras</h4>
            <button mat-raised-button color="warn"class="pull-right" id="category_1"  name="Decoradoras"  #c14 (click)="subCategories(c14)">Ver más</button>
          </div>
          <img src="assets/provnameer/decoradoras.png" class="img-fluname mx-auto d-block" alt="img1">
        </div>



      </div>

  </div>

</div><!--Fin box-content-->
