#cdk-overlay-1{
  width: 55%;
}

.banner{
  background-image: url('/assets/cliente/banner.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 717px;
  padding: 0 10%;
}

.banner-title{
  text-shadow: 2px 2px black;
  color: white;
  font-size: 40px;
  font-weight: bold;
}

.banner-p{
  text-shadow: 2px 2px black;
  color: white;
  font-size: 19px;
  font-weight: bold;
}

@media (min-width: 991px) and (max-width: 1520px) {
  .carousel-box{
      width: 70%;
      padding-left: 20%;
      bottom: 5%;
  }
  //nvo
  #cdk-overlay-1{
    width: 65%;
  }
  
}

@media (min-width: 1521px){
  .carousel-box{
      width: 70% !important;
      padding-left: 20% !important;
  }
}

.carousel-box{
  position: absolute;
  width: 80%;
  padding-left: 10%;
  bottom: 10%;
}

p{
  word-break: break-all;
}
