<div class="panel-header panel-header-sm">
 
</div>


<div class="main-content">

  <div class="container">

    <div class="container" style="margin-top: 35px;">

      
      

      <form class="row">
        <h2 style="text-align: center;margin-top: 10PX;">Como funciona</h2>
        <mat-form-field class="col-sm-12">
          <textarea style="height: 500px;"  matInput placeholder="">¿Cómo funciona?
            Los mejores proveedores para ti
            
            Describe tu requerimiento
            los mejores proveedores para ti
            
            
            Chatea con los proveedores y recibe cotizaciones
            los mejores proveedores para ti
            
            
            Contrata en línea usando cualquiera de nuestras opciones de pago
            los mejores proveedores para ti
            
            
            Disfruta tu evento y califica tu experiencia
            los mejores proveedores para ti</textarea>
        </mat-form-field>
        <div class="col-sm-12"></div>

      

        <button style="margin-top: 10px;" mat-raised-button class="btn-save">Guardar cambios</button>
        <button style="margin-top: 10px;margin-left: 10px;" mat-raised-button class="btn-cancel">Descartar cambios</button>
  
      </form>

      <form class="row">
        <h2 style="text-align: center;margin-top: 10PX;">Términos y condiciones</h2>
        <mat-form-field class="col-sm-12">
          <textarea style="height: 500px;"  matInput placeholder="">
             

Los siguientes términos y condiciones (los "Términos y Condiciones") rigen el uso que usted le dé a este sitio web y a cualquiera de los contenidos disponibles por o a través de este sitio web, incluyendo cualquier contenido derivado del mismo (el "Sitio Web"). Time Inc. ("Time Inc." o "nosotros") ha puesto a su disposición el Sitio Web. Podemos cambiar los Términos y Condiciones de vez en cuando, en cualquier momento sin ninguna notificación, sólo publicando los cambios en el Sitio Web. AL USAR EL SITIO WEB, USTED ACEPTA Y ESTÉ DE ACUERDO CON ESTOS TÉRMINOS Y CONDICIONES EN LO QUE SE REFIERE A SU USO DEL SITIO WEB. Si usted no está de acuerdo con estos Términos y Condiciones, no puede tener acceso al mismo ni usar el Sitio Web de ninguna otra manera.

 

1.         Derechos de Propiedad. Entre usted y Time Inc., Time Inc. es dueño único y exclusivo, de todos los derechos, título e intereses en y del Sitio Web, de todo el contenido (incluyendo, por ejemplo, audio, fotografías, ilustraciones, gráficos, otros medios visuales, videos, copias, textos, software, títulos, archivos de Onda de choque, etc.), códigos, datos y materiales del mismo, el aspecto y el ambiente, el diseño y la organización del Sitio Web y la compilación de los contenidos, códigos, datos y los materiales en el Sitio Web, incluyendo pero no limitado a, cualesquiera derechos de autor, derechos de marca, derechos de patente, derechos de base de datos, derechos morales, derechos sui generis y otras propiedades intelectuales y derechos patrimoniales del mismo. Su uso del Sitio Web no le otorga propiedad de ninguno de los contenidos, códigos, datos o materiales a los que pueda acceder en o a través del Sitio Web.

 

2.         Licencia Limitada. Usted puede acceder y ver el contenido del Sitio Web desde su computadora o desde cualquier otro aparato y, a menos de que se indique de otra manera en estos Términos y Condiciones o en el Sitio Web, sacar copias o impresiones individuales del contenido del Sitio Web para su uso personal, interno únicamente. El uso del Sitio Web y de los servicios que se ofrecen en o a través del Sitio Web, son sólo para su uso personal, no comercial.

 

3.         Uso Prohibido. Cualquier distribución, publicación o explotación comercial o promocional del Sitio Web, o de cualquiera de los contenidos, códigos, datos o materiales en el Sitio Web, está estrictamente prohibida, a menos de que usted haya recibido el previo permiso expreso por escrito del personal autorizado de Time Inc. o de algún otro poseedor de derechos aplicable. A no ser como está expresamente permitido en el presente contrato, usted no puede descargar, informar, exponer, publicar, copiar, reproducir, distribuir, transmitir, modificar, ejecutar, difundir, transferir, crear trabajos derivados de, vender o de cualquier otra manera explotar cualquiera de los contenidos, códigos, datos o materiales en o disponibles a través del Sitio Web. Usted se obliga además a no alterar, editar, borrar, quitar, o de otra manera cambiar el significado o la apariencia de, o cambiar el propósito de, cualquiera de los contenidos, códigos, datos o materiales en o disponibles a través del Sitio Web, incluyendo, sin limitación, la alteración o retiro de cualquier marca comercial, marca registrada, logo, marca de servicios o cualquier otro contenido de propiedad o notificación de derechos de propiedad. Usted reconoce que no adquiere ningún derecho de propiedad al descargar algún material con derechos de autor de o a través del Sitio Web. Si usted hace otro uso del Sitio Web, o de los contenidos, códigos, datos o materiales que ahí se encuentren o que estén disponibles a través del Sitio Web, a no ser como se ha estipulado anteriormente, usted puede violar las leyes de derechos de autor y otras leyes de los Estados Unidos y de otros países, así como las leyes estatales aplicables, y puede ser sujeto a responsabilidad legal por dicho uso no autorizado.</textarea>
        </mat-form-field>
        <div class="col-sm-12"></div>

      

        <button style="margin-top: 10px;" mat-raised-button class="btn-save">Guardar cambios</button>
        <button style="margin-top: 10px;margin-left: 10px;" mat-raised-button class="btn-cancel">Descartar cambios</button>
  
      </form>


      <form class="row">
        <h2 style="text-align: center;margin-top: 10PX;">Nosotros</h2>
        <mat-form-field class="col-sm-12">
          <textarea style="height: 500px;"  matInput placeholder="">TEXTO DE PRUEBA</textarea>
        </mat-form-field>
        <div class="col-sm-12"></div>

      

        <button style="margin-top: 10px;" mat-raised-button class="btn-save">Guardar cambios</button>
        <button style="margin-top: 10px;margin-left: 10px;" mat-raised-button class="btn-cancel">Descartar cambios</button>
  
      </form>
    </div>
  
    

  </div>

</div>