<div class="panel-header panel-header-sm">
 
</div>


<div class="main-content main-content-h imgbgl">

  <div class="container">
    <div class="container" style="margin-top: 35px;">
      <button mat-raised-button class="btn-save" (click)="newSubCategory()"> Crear subcategoria </button>

    
          
      <mat-form-field>
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
      </mat-form-field>
      
      <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource" matSort>
      
          <!-- ID Column -->
          <ng-container matColumnDef="nombre">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre de la subcategoria </th>
            <td mat-cell *matCellDef="let subcategoria"> {{subcategoria.nombre}} </td>
          </ng-container>

          <ng-container matColumnDef="categoria">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Categoria </th>
            <td mat-cell *matCellDef="let subcategoria"> {{subcategoria.idCategoria.nombre}} </td>
          </ng-container>
      
      
        
        
      
          <!-- Color Column -->
          <ng-container matColumnDef="editar">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> editar </th>
            <td mat-cell *matCellDef="let subcategoria">  <button mat-icon-button style="color: #272727;" (click)="editSubCategory(subcategoria)">
              <mat-icon>edit</mat-icon>
            </button> 
          </td>
          </ng-container>

          <ng-container matColumnDef="eliminar">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> eliminar </th>
            <td mat-cell *matCellDef="let subcategoria"> <button mat-icon-button style="color: #272727;" (click)="eliminarSubcategoria(subcategoria._id)">
              <mat-icon>delete</mat-icon>
            </button>  </td>
          </ng-container>

          <ng-container matColumnDef="estado">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Estado </th>
            <td mat-cell *matCellDef="let subcategoria"> <button mat-icon-button style="color: #272727;" (click)="cambiarEstado(subcategoria)">
              <mat-icon>{{subcategoria.estado? 'remove': 'done'}}</mat-icon>
            </button>  </td>
          </ng-container>

          
      
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let subcategoria; columns: displayedColumns;">
          </tr>
        </table>
      
        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
      </div>
      
    

  </div>

</div>