
<div class="panel-header panel-header-sm">


</div>

<app-search-client-dashboard style="margin: 5px 10px;" ></app-search-client-dashboard>


<div class="container-fluid main-content ">
  <div class="row" id="fila1">
    <div class="col-md-7">
      <div class="card">
        <div class="card-header">
          <h5 class="title" style="text-align: center;" >Mis categorias</h5>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

              <!--- Note that these columns can be defined in any order.
                    The actual rendered columns are set as a property on the row definition" -->

              <!-- Position Column -->
              <ng-container matColumnDef="position">
                <th mat-header-cell *matHeaderCellDef> No. </th>
                <td mat-cell *matCellDef="let element"> {{element.position}} </td>
              </ng-container>

              <!-- Name Column -->

              <ng-container matColumnDef="categories">
                <th mat-header-cell *matHeaderCellDef>Categorias</th>
                <td mat-cell *matCellDef="let element"> {{element.name}} </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>

