.banner{
    // background-image: url('http://localhost:3000/imagen-banner');
    background-image: url('http://64.227.31.7:3000/imagen-banner');
    // background-image: url('/assets/home/bg.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 717px;
    padding: 0 10%;
}

.banner-title{
    text-shadow: 2px 2px black;
    color: white;
    font-size: 40px;
    font-weight: bold;
}

.banner-p{
    text-shadow: 2px 2px black;
    color: white;
    font-size: 19px;
    font-weight: bold;
}
