<div>
  <div class="banner">
    <app-home-navbar></app-home-navbar>
    <!-- Logo -->
    <div class="text-center">
      <img  src="/assets/home/logo.png" alt="">
    </div>
    <!-- titulos -->
    <div class="mt-3">
      <p class="banner-p">¡Únete a nuestra comunidad ahora mismo!</p>
      <h3 class="banner-title">Encuentra todo lo que necesitas</h3>
      <app-search-bar></app-search-bar>
      <p style="margin-top: 3%;" class="banner-p">Contrata a los mejores proveedores y paga en cuotas</p>
    </div>
  </div>
  <!-- Slider -->
  <app-home-slider></app-home-slider>
  <!-- como funciona -->
  <app-home-instruction></app-home-instruction>
  <!-- New latter -->
  <app-home-newslatter></app-home-newslatter>
  <!-- Contacto -->
  <app-home-contact></app-home-contact>
  <!-- footer -->
  <app-home-footer></app-home-footer>

</div>
