#mat-tab-label-0-0{
    border-top-left-radius: 20px;
}

#mat-tab-label-0-1{
    border-top-right-radius: 20px;
}

.mat-tab-label{
    background: black;
    color: white;
    opacity: 0.8 !important;
}

.mat-ink-bar{
    background-color: #e75049 !important;
}

.mat-tab-body-wrapper{
    background: white;
    border-radius: 0px 20px 20px 20px;
    height: 79px;
}

.mat-tab-label.mat-tab-label-active{
    background: white !important;
    color: black;
}

.mat-tab-body-content{
    overflow: hidden !important;
}