<div>
  <mat-tab-group>
    <mat-tab label="Servicio" class="left-tab" style="overflow: hidden !important;">
      <div class="row text-center pt-3" style="margin:0 !important">
        <div class="col-md-3">  
          <mat-form-field>
            <mat-select placeholder="Ingresar location">                       
              <mat-option value="option">Option</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-md-3">
          <mat-form-field>
            <mat-select placeholder="Categoria">
              <mat-option value="option">Option</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-md-3">
          <mat-form-field>
            <mat-select placeholder="Subcategoria">
              <mat-option value="option">Option</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-md-2">
          <button mat-raised-button style="border: 2px solid #e75049;">
            <img src="assets/home/lupa.png" alt="">
            Buscar
          </button>
        </div>        
      </div>
    </mat-tab>

    <mat-tab label="Proveedores" class="right-tab">
      <div class="row text-center pt-3" style="margin:0 !important">
        <div class="col-md-3">  
          <mat-form-field>
            <mat-select placeholder="Ingresar location">                       
              <mat-option value="option">Option</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-md-3">
          <mat-form-field>
            <mat-select placeholder="Categoria">
              <mat-option value="option">Option</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-md-3">
          <mat-form-field>
            <mat-select placeholder="Subcategoria">
              <mat-option value="option">Option</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-md-2">
          <button mat-raised-button style="border: 2px solid #e75049;">
            <img src="assets/home/lupa.png" alt="">
            Buscar
          </button>
        </div>        
      </div>
    </mat-tab>
  </mat-tab-group>

</div>
