<div class="panel-header panel-header-sm">
 
</div>


<div class="main-content main-content-h imgbgl">

  <div class="container">
    <div class="container" style="margin-top: 35px;">
      <button mat-raised-button class="btn-save" (click)="newCategory()"> Crear categoria </button>

    
          
      <mat-form-field>
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Buscador">
      </mat-form-field>
      
      <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource" matSort>
      
          <!-- ID Column -->
          <ng-container matColumnDef="nombre">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre de la categoria </th>
            <td mat-cell *matCellDef="let categoria"> {{categoria.nombre}} </td>
          </ng-container>
      
        
        
      
          <!-- Color Column -->
          <ng-container matColumnDef="editar">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Editar </th>
            <td mat-cell *matCellDef="let categoria">  <button mat-icon-button style="color: #272727;" (click)="editCategory(categoria)">
              <mat-icon>edit</mat-icon>
            </button> 
          </td>
          </ng-container>

          <ng-container matColumnDef="eliminar">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Eliminar </th>
            <td mat-cell *matCellDef="let categoria"> <button mat-icon-button style="color: #272727;" (click)="eliminarCategoria(categoria._id)">
              <mat-icon>delete</mat-icon>
            </button>  </td>
          </ng-container>

          <ng-container matColumnDef="estado">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Estado </th>
            <td mat-cell *matCellDef="let categoria"> <button mat-icon-button style="color: #272727;" (click)="cambiarEstado(categoria)">
              <mat-icon>{{categoria.estado? 'done': 'remove'}}</mat-icon>
            </button>  </td>
          </ng-container>

          
      
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let categoria; columns: displayedColumns;">
          </tr>
        </table>
      
        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
      </div>
      
    

  </div>

</div>