<div class="panel-header panel-header-sm">
 
</div>


<div class="main-content">
  
  <div class="container" style="margin-top: 50px;">

    <mat-card class="card-comision">
      <mat-form-field class="col-sm-8">
        <mat-select [(ngModel)]="optionC" name="optionC" placeholder="Servicio">
          <mat-option value="ca">Categoria</mat-option>
          <mat-option value="subca">Subcategoria</mat-option>
        </mat-select>
      </mat-form-field>
      <form [formGroup]="categoriaComisionForm" class="row" *ngIf="optionC == 'ca'">
        

        <h2 style="margin-top: 10px;">Comision por categoria</h2>
        <div class="col-sm-12"></div>
     
        <mat-form-field class="col-sm-8">
          <mat-select     formControlName="_id" placeholder="Categoria" (selectionChange)="getCategoria($event.value)">
            <mat-option *ngFor="let categoria of categorias" [value]="categoria._id">{{categoria.nombre}}</mat-option>
    
          </mat-select>
    
        </mat-form-field>
    

        
        <mat-form-field class="col-sm-4">
          <input matInput formControlName="comision" type="number" placeholder="porcentaje" >
          <span matPrefix>%&nbsp;</span>
        </mat-form-field> 
        
        <div class="col-sm-12"></div>
  
        
  
        <button style="margin-top: 10px;" mat-raised-button class="btn-save" (click)="editarCategoria()">Guardar cambios</button>
        <button style="margin-top: 10px;margin-left: 10px;" mat-raised-button class="btn-cancel">Descartar cambios</button>
      </form>

      <form [formGroup]="subcategoriaComisionForm" class="row" *ngIf="optionC == 'subca'">
        

        <h2 style="margin-top: 10px;">Comision por Subcategoria</h2>
        <div class="col-sm-12"></div>
     
        <mat-form-field class="col-sm-8">
          <mat-select     formControlName="_id"  placeholder="Subcategoria" (selectionChange)="getSubcategoria($event.value)">
            <mat-option *ngFor="let subcategoria of subcategorias" [value]="subcategoria._id">{{subcategoria.nombre}}</mat-option>
    
          </mat-select>
    
        </mat-form-field>
    

        
        <mat-form-field class="col-sm-4">
          <input matInput type="number" formControlName="comision" placeholder="porcentaje">
          <span matPrefix>%&nbsp;</span>
        </mat-form-field> 
        
        <div class="col-sm-12"></div>
  
        
  
        <button style="margin-top: 10px;" mat-raised-button class="btn-save" (click)="editarSubcategoria()">Guardar cambios</button>
        <button style="margin-top: 10px;margin-left: 10px;" mat-raised-button class="btn-cancel" >Descartar cambios</button>
      </form>
  
    </mat-card>
   

  </div>

</div>