<div>

  <nav class="navbar navbar-expand-lg navbar-transparent  navbar-absolute bg-primary fixed-top">
    <div class="container-fluid">
      <div class="collapse navbar-collapse justify-content-end" id="collapseExample" [ngbCollapse]="isCollapsed">
        <ul class="navbar-nav pull-right">
          <li class="nav-item" routerLink="/login/provider/profile">
            <a class="nav-link" >
              <i class="now-ui-icons users_single-02"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="banner">
    <!-- Logo -->
    <div class="text-center">
      <img  src="/assets/home/logo.png" alt="">
    </div>
    <!-- titulos -->
    <div class="mt-3">
      <p class="banner-p">Completa tu proyecto con los proveedores ideales</p>
      <h3 class="banner-title">Servicios personales</h3>
      <app-search-bar></app-search-bar>
    </div>
  </div>
  <!-- Conetenido principal -->
  <div style="padding: 5% 5%; margin: 0;" class="row">

    <div class="col-12 col-sm-6 col-md-4 col-lg-3 mt-4">
      <div class="carousel-box">
        <h4 mat-raised-button style="color:white" >Animador / Presentador</h4>
        <button mat-raised-button color="warn" class="pull-right" id="category_1"  name="Animador / Presentador"  #animador  (click)="subCategories(animador)" >Ver más</button>
      </div>
      <img src="assets/provider/animador presentador.png" class="img-fluid mx-auto d-block" alt="img1">
    </div>

    <div class="col-12 col-sm-6 col-md-4 col-lg-3 mt-4">
      <div class="carousel-box">
        <h4 style="color:white">Events planner</h4>
        <button mat-raised-button color="warn"class="pull-right" id="category_1"  name="Events planner"   #c2 (click)="subCategories(c2)" >Ver más</button>
      </div>
      <img src="assets/provider/Events planner.png" class="img-fluname mx-auto d-block" alt="img1">
    </div>

    <div class="col-12 col-sm-6 col-md-4 col-lg-3 mt-4">
      <div class="carousel-box">
        <h4 style="color:white">Bartender / Barman</h4>
        <button mat-raised-button color="warn"class="pull-right" id="category_1"  name="Bartender / Barman"   #c3 (click)="subCategories(c3)" >Ver más</button>
      </div>
      <img src="assets/provider/Bartender - barman.png" class="img-fluname mx-auto d-block" alt="img1">
    </div>

    <div class="col-12 col-sm-6 col-md-4 col-lg-3 mt-4">
      <div class="carousel-box">
        <h4 style="color:white">Personal de servicio</h4>
        <button mat-raised-button color="warn"class="pull-right" id="category_1"  name="Personal de servicio"  #c4 (click)="subCategories(c4)">Ver más</button>
      </div>
      <img src="assets/provider/personal de servicio.png" class="img-fluname mx-auto d-block" alt="img1">
    </div>

    <div class="col-12 col-sm-6 col-md-4 col-lg-3 mt-4">
      <div class="carousel-box">
        <h4 style="color:white">Parrillero</h4>
        <button mat-raised-button color="warn"class="pull-right" id="category_1"  name="Parrillero"  #c5 (click)="subCategories(c5)" >Ver más</button>
      </div>
      <img src="assets/provider/parrillero.png" class="img-fluname mx-auto d-block" alt="img1">
    </div>

    <div class="col-12 col-sm-6 col-md-4 col-lg-3 mt-4">
      <div class="carousel-box">
        <h4 style="color:white">Chef</h4>
        <button mat-raised-button color="warn"class="pull-right"  id="category_6"  name="Chef"  #c6 (click)="subCategories(c6) " >Ver más</button>
      </div>
      <img src="assets/provider/chef.png" class="img-fluid mx-auto d-block" alt="img1">
    </div>

    <div class="col-12 col-sm-6 col-md-4 col-lg-3 mt-4">
      <div class="carousel-box">
        <h4 style="color:white">Sommeliers</h4>
        <button mat-raised-button color="warn"class="pull-right"  id="category_7"  name="Sommeliers"  #c7 (click)="subCategories(c7) " >Ver más</button>
      </div>
      <img src="assets/provider/sommeliers.png" class="img-fluid mx-auto d-block" alt="img1">
    </div>

    <div class="col-12 col-sm-6 col-md-4 col-lg-3 mt-4">
      <div class="carousel-box">
        <h4 style="color:white">Guías turisticos</h4>
        <button mat-raised-button color="warn"class="pull-right"   id="category_8"  name="Guías turisticos"  #c8 (click)="subCategories(c8) ">Ver más</button>
      </div>
      <img src="assets/provider/guias turisticos.png" class="img-fluid mx-auto d-block" alt="img1">
    </div>

    <div class="col-12 col-sm-6 col-md-4 col-lg-3 mt-4">
      <div class="carousel-box">
        <h4 style="color:white">Anfitriones / Recepcionistas</h4>
        <button mat-raised-button color="warn"class="pull-right"   id="category_9"  name="Anfitriones / Recepcionistas"  #c9 (click)="subCategories(c9) " >Ver más</button>
      </div>
      <img src="assets/provider/anfitriones y recepcionistas.png" class="img-fluid mx-auto d-block" alt="img1">
    </div>

    <div class="col-12 col-sm-6 col-md-4 col-lg-3 mt-4">
      <div class="carousel-box">
        <h4 style="color:white">Modelos y promotoras</h4>
        <button mat-raised-button color="warn"class="pull-right"   id="category_10"  name="Modelos y promotoras"  #c10 (click)="subCategories(c10) " >Ver más</button>
      </div>
      <img src="assets/provider/modelos y promotoras.png" class="img-fluid mx-auto d-block" alt="img1">
    </div>

    <div class="col-12 col-sm-6 col-md-4 col-lg-3 mt-4">
      <div class="carousel-box">
        <h4 style="color:white">Relatores y coach</h4>
        <button mat-raised-button color="warn"class="pull-right"   id="category_1"  name="Relatores y coach"  #c5 (click)="subCategories(c5) " >Ver más</button>
      </div>
      <img src="assets/provider/relatores y coach.png" class="img-fluid mx-auto d-block" alt="img1">
    </div>

    <div class="col-12 col-sm-6 col-md-4 col-lg-3 mt-4">
      <div class="carousel-box">
        <h4 style="color:white">Sastrería y Confección</h4>
        <button mat-raised-button color="warn"class="pull-right"    id="category_1"  name="Sastrería y Confección"  #c11 (click)="subCategories(c11) " >Ver más</button>
      </div>
      <img src="assets/provider/sastreria y confeccion.png" class="img-fluid mx-auto d-block" alt="img1">
    </div>

    <div class="col-12 col-sm-6 col-md-4 col-lg-3 mt-4">
      <div class="carousel-box">
        <h4 style="color:white">Maquillaje y Peluqueria</h4>
        <button mat-raised-button color="warn"class="pull-right"   id="category_12"  name="Maquillaje y Peluqueria"  #c12 (click)="subCategories(c12) " >Ver más</button>
      </div>
      <img src="assets/provider/maquillaje y peluqueria.png" class="img-fluid mx-auto d-block" alt="img1">
    </div>

    <div class="col-12 col-sm-6 col-md-4 col-lg-3 mt-4">
      <div class="carousel-box">
        <h4 style="color:white">Decoradoras</h4>
        <button mat-raised-button color="warn"class="pull-right"   id="category_13"  name="Decoradoras"  #c13 (click)="subCategories(c13) " >Ver más</button>
      </div>
      <img src="assets/provider/decoradoras.png" class="img-fluid mx-auto d-block" alt="img1">
    </div>

  </div>
  <!-- footer -->
  <app-home-footer></app-home-footer>
</div>

