.title-modal{
  text-align: center;
  font-size: 23px;
}

.msj-modal li{
  list-style: none;
  margin-bottom: 25px;
}

.msj-modal .fa-check-circle{
  float: left;
  margin-right: 15px;
  color: green;
  font-size: xx-large;
  cursor: pointer;
}


