
<!--<div mat-dialog-content > {{ data }} prueba </div>
<div mat-dialog-actions>
  <button mat-button  [mat-dialog-close]="true" >Btn</button>
</div>
-->
<div mat-dialog-title class="title-modal">
    {{ data.titulo }} <span class="glyphicon glyphicon-align-left"></span>
  </div>

<div mat-dialog-content *ngFor="let item of data.subcategory"   class="msj-modal"  >
  <ul>
      <li (click)=" showProvidersXsubcategories( item ) " ><i class="fas fa-check-circle"></i> <h6>{{ item }}</h6></li>
  </ul>
</div>


<!-- TÍTULO LIBRE, COMO QUIERAS 
routerLink="/login/client/profile"
(click)=" "
-->

<!--
  <mat-dialog-content>
  <!-- CONTENIDO DEL DIÁLOGO ->
  contenido
</mat-dialog-content>

<mat-dialog-actions>
  botones
  <!-- ACCIONES (GENERALMENTE BOTONES). BAJO EL CONTENIDO ALINEADAS ->
</mat-dialog-actions>

<h1 mat-dialog-title>Hi {{data.name}}</h1>
<div mat-dialog-content>
  <p>What's your favorite animal?</p>
  <mat-form-field>
    <mat-label>Favorite Animal</mat-label>
    <input matInput [(ngModel)]="data.animal">
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">No Thanks</button>
  <button mat-button [mat-dialog-close]="data.animal" cdkFocusInitial>Ok</button>
</div>-->
